<% title "Family Groups - Find local events and meet other great parents" %>
<div class="two-thirds column">
				<nav id="menu" class="navigation">
					<ul id="nav" class="clearfix">
						<li data-no-turbolink><%= link_to root_url do %>Home
							<span>Dashboard<% end %></span></li>
						<li><%= link_to howitworks_path, class: 'static_page' do %>How It Works
							<span>Take a Look<% end %></span></li>
            			<li><%= link_to blog_path do %>Blog
              				<span>About Us<% end %></span></li>
					</ul>
				</nav>
			</div>
			<div class="sixteen columns">
				<hr class="line" />
			</div>
		</div>
	</header>
	<div class="container main">
			<div class="eight columns">
					<h3 class="shortcodes">Check out your community and meet fellow parents.</h3>
					<ul class="tabs-nav">
						<li><a href="#tab1">User Sign Up</a></li>
						<li><a href="#tab2">Log In</a></li>
					</ul>
					<div class="tabs-container">
						<div id="tab1" class="tab-content"><h4 class="sign_up">Finding other families to hang out and schedule playdates with can be hard. With Family Groups, you can find local family events, places and groups and discover moms and dads with similar interests.</h4>
							<br /> <%= link_to "Join your community", signup_path, id: 'create_user', class: "b-new", style: "color:white" %> </div>
						<div id="tab2" class="tab-content">
						  <%= form_for(:session, url: sessions_path) do |f| %>

						      <%= f.label :email %>
      						  <%= f.text_field :email %>

						      <%= f.label :password %>
      						  <%= f.password_field :password %>

      						  <%= f.submit "Sign in", class: "b-sign" %>
    					  <% end %>
						</div>
					</div>
				</div> 
				<div class="eight columns">
					<div class="flexslider work-slider">
						<ul class="slides">
							<li>
								<%= image_tag "clothes_line.jpg", alt: "Family Groups slider" %>
							</li>
							<li>
								<%= image_tag "slider_graphic.jpg", alt: "Family Groups slider" %>
							</li>
							<li>
								<%= image_tag "mom_with_child.jpg", alt: "Family Groups slider" %>
							</li>
						</ul>
					</div>
				</div> 	
		</div>
		
		<div class="container">
			<div class="sixteen columns">
				<hr class="line slogan" />
			</div>
		</div>
		
		<div id="page-content" class="full-width container projects">

			<div class="container">
				<div class="sixteen columns">
					<h3 class="shortcodes">What's going on in <%= @city %>.</h3>
					<% if @activities.blank? && @recurring_activities.blank? %>
					<div id="filters">
						<ul class="option-set" data-option-key="filter">
							<li><a href="#filter" data-option-value="*">See All</a></li>
							<li><a href="#filter" data-option-value=".activities">Activities</a></li>
							<li><a href="#filter" data-option-value=".groups">Groups</a></li>
							<li><a href="#filter" class="selected" data-option-value=".interests">Interests</a></li>
							<li><a href="#filter" data-option-value=".places">Places</a></li>
						</ul>
					</div>
					<% else %>
					<div id="filters">
						<ul class="option-set" data-option-key="filter">
							<li><a href="#filter" data-option-value="*">See All</a></li>
							<li><a href="#filter" class="selected" data-option-value=".activities">Activities</a></li>
							<li><a href="#filter" data-option-value=".groups">Groups</a></li>
							<li><a href="#filter" data-option-value=".interests">Interests</a></li>
							<li><a href="#filter" data-option-value=".places">Places</a></li>
						</ul>
					</div>
					<% end %>
				</div>
			</div>
		
			<div class="container">
				<div id="portfolio-wrapper">
				<% if @activities.blank? && @recurring_activities.blank? %>
					<div class="four columns portfolio-item activities">
        				<br />
        				<br />
							<ul>
				  				<li>We don't have activities for <% @city %> today, but please check again in a few days!</li>
			    			</ul>
					</div>
					<% else %>
  					<% @activities.each do |activity| %>
						<%= render :partial => 'activities/activity_u', :locals => { :activity => activity } %>
					<% end %>
					<% @recurring_activities.each do |activity| %>
						<%= render :partial => 'activities/recurring_activity_u', :locals => { :activity => activity } %>
					<% end %>
				<% end %>
				<% if @groups.blank? %>
					<div class="four columns portfolio-item groups">
        				<br />
        				<br />
							<ul>
				  				<li>We don't have groups for <% @city %> today, but please check again in a few days!</li>
			    			</ul>
					</div>
				<% else %>
				<% @groups.each do |group| %>
					<%= render :partial => 'groups/group_u', :locals => { :group => group } %>
					<%= render :partial => 'js/sign_up.js.erb', :locals => { :group => group } %>
				<% end %>	
				<% end %>
				<% @interests.each do |interest| %>
  					<%= render :partial => 'interests/interest_u', :locals => {:interest => interest} %> 
				<% end %>
				<% if @places.blank? %>
					<div class="four columns portfolio-item places">
        				<br />
        				<br />
							<ul>
				  				<li>We don't have places for <% @city %> today, but please check again in a few days!</li>
			    			</ul>
					</div>
				<% else %>
				<% @places.each do |place| %>
					<%= render :partial => 'places/place_u', :locals => { :place => place } %>
				<% end %>
				<% end %>	
					<div class="four columns portfolio-item activities">
                		<br />
                		<br />
                		<div id="back_button">
              			<ul>
                  			<li><%= link_to "See All Activities", signup_path %></li>
                		</ul>
            			</div>
          			</div>
          			<div class="four columns portfolio-item groups">
                		<br />
                		<br />
                		<div id="back_button">
              			<ul>
                  			<li><%= link_to "See All Groups", signup_path%></li>
                		</ul>
            			</div>
          			</div>
          			<div class="four columns portfolio-item interests">
                		<br />
                		<br />
                		<div id="back_button">
              			<ul>
                  			<li><%= link_to "See All Interests", signup_path %></li>
                		</ul>
            			</div>
          			</div>
          			<div class="four columns portfolio-item places">
                		<br />
                		<br />
                		<div id="back_button">
              			<ul>
                  			<li><%= link_to "See All Places", signup_path %></li>
                		</ul>
            			</div>
          			</div>				
				</div>
			</div>
		</div>
	</div>
	<%= render 'layouts/footer' %>