<% title "Family Groups - Find local events and meet other great parents" %>
<% description "Find local family groups, events for kids and family-friendly places. Meet other cool moms and dads in your community through your common interests and activities."%>
<%= render 'layouts/menu_and_tabs' %>
<%= render 'layouts/parent_match' %>
		
		<div class="container">
			<div class="sixteen columns">
				<hr class="line slogan" />
			</div>
		</div>
		
		<div id="page-content" class="full-width container projects">

			<div class="container">
				<div class="sixteen columns">
					<h4> See what's happening in <%= @user.city %> this week.</h4>
					<% if @activities.count < 8 %>
					<div id="filters">
						<ul class="option-set" data-option-key="filter">
							<li><a href="#filter" data-option-value="*">See All</a></li>
							<li><a href="#filter" data-option-value=".activities">Activities</a></li>
							<li><a href="#filter" data-option-value=".groups">Groups</a></li>
							<li><a href="#filter" class="selected" data-option-value=".interests">Interests</a></li>
							<li><a href="#filter" data-option-value=".places">Places</a></li>
						</ul>
					</div>
					<% else %>
					<div id="filters">
						<ul class="option-set" data-option-key="filter">
							<li><a href="#filter" data-option-value="*">See All</a></li>
							<li><a href="#filter" class="selected" data-option-value=".activities">Activities</a></li>
							<li><a href="#filter" data-option-value=".groups">Groups</a></li>
							<li><a href="#filter" data-option-value=".interests">Interests</a></li>
							<li><a href="#filter" data-option-value=".places">Places</a></li>
						</ul>
					</div>
					<% end %>
				</div>
			</div>
		
			<div class="container">
				<div id="portfolio-wrapper">
  					<% if @user.show_group == "empty" %>
						<%= render partial: 'groups/group_new' %>
					<% else %>
						<%= render partial: 'groups/premium' %>
					<% end %>
  					<% if @user.show_activity == "empty" %>
						<%= render partial: 'activities/activity_new' %>
					<% else %>
						<%= render partial: 'activities/premium' %>
					<% end %>
					<% if @user.show_place == "empty" %>
						<%= render partial: 'places/place_new' %>
					<% else %>
						<%= render partial: 'places/premium' %>
					<% end %>
					<% if @activities.blank? && @recurring_activities.blank? %>
					<div class="four columns portfolio-item activities">
        				<br />
        				<br />
							<ul>
				  				<li>We don't have activities for <% @user.city %> today, but please check again soon!</li>
			    			</ul>
					</div>
					<% else %>
  					<% @activities.each do |activity| %>
						<%= render :partial => 'activities/activity', :locals => { :activity => activity } %>
						<%= render :partial => 'js/activities.js.erb', :locals => { :activity => activity} %>
					<% end %>
					<% @recurring_activities.each do |activity| %>
						<%= render :partial => 'activities/recurring_activity', :locals => { :activity => activity } %>
						<%= render :partial => 'js/activities.js.erb', :locals => { :activity => activity} %>
					<% end %>
					<% end %>
					<% if @firstgroups.blank? && @other_groups.blank? %>
					<div class="four columns portfolio-item groups">
        				<br />
        				<br />
							<ul>
				  				<li>We don't have groups for <% @user.city %> today, but please check again soon!</li>
			    			</ul>
					</div>
					<% else %>
					<% @other_groups.each do |group| %>
						<%= render :partial => 'groups/other_group', :locals => { :group => group } %>
						<%= render :partial => 'js/other_groups.js.erb', :locals => { :group => group } %>
					<% end %>
					<% @firstgroups.each do |group| %>
						<%= render :partial => 'groups/group', :locals => { :group => group } %>
						<%= render :partial => 'js/groups.js.erb', :locals => { :group => group } %>
					<% end %>
					<% end %>		
					<% @interests.each do |interest| %>
  						<%= render :partial => 'interests/interest', :locals => {:interest => interest} %> 
  						<%= render :partial => 'js/interests.js.erb', :locals => { :interest => interest } %>
					<% end %>
					<% if @places.blank? %>
					<div class="four columns portfolio-item places">
        				<br />
        				<br />
							<ul>
				  				<li>We don't have places for <% @user.city %> today, but please check again soon!</li>
			    			</ul>
					</div>
					<% else %>
  					<% @places.each do |place| %>
						<%= render :partial => 'places/place', :locals => { :place => place } %>
						<%= render :partial => 'js/places.js.erb', :locals => { :place => place } %>
					<% end %>
					<% end %>
					<div class="four columns portfolio-item activities">
                		<br />
                		<br />
                		<div id="back_button" data-no-turbolink>
              			<ul>
              				<% if @user.subscriber.present? %>
                  			<li><%= link_to "See All Activities", activities_path, id: "back_button" %></li>
                  			<% else %>
                  			<li><%= link_to "See All Activities", new_subscription_path(:plan_id => 1) %></li>
                  			<% end %>
                		</ul>
            			</div>
          			</div>
					<div class="four columns portfolio-item groups">
        				<br />
        				<br />            			
            			<div id="back_button" data-no-turbolink>
							<ul>
								<% if @user.subscriber.present? %>
                  					<li><%= link_to "See All Groups", groups_path, id: "back_button" %></li>
                  				<% else %>
                  					<li><%= link_to "See All Groups", new_subscription_path(:plan_id => 1) %></li>
	                  			<% end %>
			    			</ul>
						</div>
					</div>
					<div class="four columns portfolio-item interests">
        				<br />
        				<br />    					
						   <div id="back_button" data-no-turbolink>
							<ul>
				  				<li><%= link_to "See All Interests", interests_path, id: "back_button" %></li>
			    			</ul>
						</div>
					</div>
					<div class="four columns portfolio-item places">
        				<br />
        				<br />    					
						   <div id="back_button" data-no-turbolink>
							<ul>
								<% if @user.subscriber.present? %>
                  					<li><%= link_to "See All Places", places_path, id: "back_button" %></li>
                  				<% else %>
                  					<li><%= link_to "See All Places", new_subscription_path(:plan_id => 1) %></li>
	                  			<% end %>								
			    			</ul>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<%= render 'layouts/footer' %>