<% title "Family Groups - Contact Us" %>
<% description "Want to connect to the FamilyGroups.org team? Please drop us a line if you have any ideas how we can improve the experience or if you would like to report inappropriate content." %>
<div class="two-thirds column">
                <nav id="menu" class="navigation">
                    <ul id="nav" class="clearfix">
                        <li><a href="index.html" class="active">Home<span>Dashboard</span></a>
                        </li>
                        <li><%= link_to howitworks_path, class: 'static_page' do %>How It Works
                            <span>Take a Look<% end %></span></li>
                        <li><%= link_to contact_path, class: 'static_page' do %>Contact
                            <span>Talk to Us<% end %></span></li>
                    </ul>
                </nav>
            </div>
      <div class="sixteen columns">
        <hr class="line" />
      </div>
    </div>
  </header>

  <div class="container main">
    <h3 class="shortcodes">To see more activities, groups and places, sign up today! It's free.</h3>
      <div class="eight columns">
          <%= image_tag 'premium_logo.jpg', class: 'premium_logo' %>
      </div>
<div class="eight columns">
  <%= image_tag 'premium_ad_resized1.jpg', class: 'premium_ad' %>
</div>
    <div class="container">
      <div class="sixteen columns">
        <hr class="line slogan" />
      </div>
    </div>
    </div>

  <div class="container main">
    <div class="nine columns">
        <div class="less_right">
<div id="content">
<%= image_tag 'fglogo1.png', size: '195x50', class: 'low_margin' %>
  <h1>Comments? Ideas? Submissions? Or find inappropriate content?
  	<br/>
  	<br/>
  	Email: <%= mail_to "contact@familygroups.org", "contact@familygroups.org" %>
  	<br/>
  	<br/>
  	Our mission at Family Groups is to make life easier for new parents by connecting them to other parents in their community. Please let us know how we're doing.</h1>
</div>
</div>
</div>
</div>
<%= render 'layouts/footer' %>