       <%= form_for Group.new( name: group.id, link: group.link, image_path: group.photo_url, desc: group.description.html_safe.mb_chars.limit(119), city: group.id ) do |f| %>
        <%= f.submit "Create Group", class: "b-black" %>
      	<% end %>

      	        <%= button_to "Create Group",
        	{ controller: "groups", 
        		action: "create", 
        		name: group.id, 
        		link: group.link, 
        		image_path: group.photo_url, 
        		desc: group.description.html_safe.mb_chars.limit(119).to_s, 
        		city: group.id }, 
        		:method => :post %>

        		       <%= form_for Group.create do |f| %>
       <%= f.hidden_field :name, value: group.id %>
        <%= f.submit "Create Group", class: "b-black" %>
      	<% end %>

      	       <%= form_for Group.new( name: group.id, link: group.link, image_path: group.photo_url, desc: group.description.html_safe.mb_chars.limit(119), city: group.id ) do |f| %>
        <%= f.submit "Create Group", class: "b-black" %>
      	<% end %>

      	        <%= form_for(@group) do |f| %>
       <%= f.hidden_field :name, value: group.id %>
        <%= f.submit "Create Group", class: "b-black" %>
      	<% end %>

      	  geocoded_by :address do |user,results|
    :latitude => :latitude
    :longitude => :longitude
    if geo = results.first
      user.city = geo.city
    end
  end  

      @groups = RMeetup::Client.fetch(:groups, :city => @city, :topic => "parents") 

      <%= if group.photo_url.blank?; image_tag "imgs/work_big/work15.jpg"; end %>

              <%= if group.photo_url.blank?; image_tag "rotate/<%= random_image %>"; end %>
        <img src="/assets/rotate/<%= random_image %>">
        <%= image_tag group.photo_url %>

          def create
    @group = Group.new(group_params)
      if @group.save
        respond_to do |format|
          format.html { redirect_to(root_url) }
          format.js 
        end
      else
        render 'new'
      end
  end

<%= if group.photo_url.blank?; image_tag "/assets/rotate/#{random_image}"; end %>
        <%= image_tag group.photo_url %>

          bottom: -8px;
  left: 33px;

<div id="follow_form<%= "#{group.id}" %>">                      
  <div class="four columns portfolio-item groups">
    <div class="our-work">
        <a class="img-overlay">
          <div class= "min-height">
              <%= if group.photo_url.blank?; image_tag "/assets/rotate/#{random_image}"; end %>
              <%= image_tag group.photo_url %>
            <div class="img-overlay-div">
              <div class="groups_showme">
            <h4>
            <%= if group.name.html_safe.length > 50; group.name.html_safe.mb_chars.limit(50).to_s + "...  "; else group.name.html_safe.mb_chars.to_s; end %>
            </h4>
            <h5>
            <br />
            <%= if group.description.html_safe.length > 130; group.description.html_safe.mb_chars.limit(129).to_s; else group.description.html_safe; end %>...<div class="learn_more"> Learn More</div>
            </h5>
              </div>
       <%= form_for(@group, remote: true) do |f| %>
       <%= f.hidden_field :name, value: group.name.html_safe.mb_chars.limit(20).to_s %>
       <%= f.hidden_field :desc, value: group.description.html_safe.mb_chars.limit(119).to_s %>       
       <% if group.photo_url? %>
       <%= f.hidden_field :image_path, value: group.photo_url %>
       <% else %>
       <%= f.hidden_field :image_path, value: "/assets/rotate/#{random_image}" %>
       <% end %>
       <%= f.hidden_field :link, value: group.link %>
       <%= f.hidden_field :city, value: group.city.html_safe.mb_chars.limit(50).to_s %>
       <%= f.hidden_field :group_id, value: group.id %>
       <%= f.hidden_field :user_id, value: current_user.id %>
       <%= f.submit "Add to My Groups", class: "b-black" %>
        <% end %>
            </div>
        </a>
    </div>
        <% if group.name.length > 30 %>
        <h3>  
          <div class="smaller_size">
            <%= link_to group.name.html_safe.mb_chars.limit(50).to_s, "#", class: "groups_showme" %><span><%= link_to "Click here to learn more", "#", class: "groups_showme" %></span>
          </div>
        </h3>
        <% else %>
        <h3><%= link_to group.name.html_safe.mb_chars.limit(30).to_s, "#", class: "groups_showme" %><span><%= link_to "Click here to learn more", "#", class: "groups_showme" %></span></h3>
        <% end %>
    </div>
  </div>
</div>        

interest_ids = Interest.find( :all, :select => 'id' ).map( &:id )
          @interests = Interest.where("id NOT IN (?)", current_user.relationships.pluck(:followed_id)).find( (1..10).map { interest_ids.delete_at( interest_ids.size * rand ) } )  

   @other_groups = Group.where(:user_id != current_user.id)

            <% @other_groups.each do |group| %>
            <%= render :partial => 'groups/other_group', :locals => { :group => group } %>
            <%= render :partial => 'js/other_groups.js.erb', :locals => { :group => group } %>
          <% end %> 

          @other_groups = Group.where(['group_id = ? AND user_id <> ?', nil, current_user.id])
class StaticPagesController < ApplicationController
  def home
    @user = current_user
    @city = request.location.city
    if signed_in?
      new_groups = RMeetup::Client.fetch(:groups, :lat => @user.latitude, :lon => @user.longitude, :topic => "parents")
      current_group_ids = current_user.groups.pluck(:group_id)
      @groups = new_groups.reject { |group| current_group_ids.include?(group.id) }
      @firstgroups = @groups.first(20)
      @other_groups = Group.where(['group_id IS ? AND user_id <> ? AND city = ?', nil, current_user.id, @user.city])
      @group = Group.create
        if current_user.following.blank?

  lass StaticPagesController < ApplicationController
  def home
    @user = current_user
    @city = request.location.city
    if signed_in?
      new_groups = RMeetup::Client.fetch(:groups, :lat => @user.latitude, :lon => @user.longitude, :topic => "parents")
      current_group_ids = current_user.groups.pluck(:group_id)
      @groups = new_groups.reject { |group| current_group_ids.include?(group.id) }
      @firstgroups = @groups.first(20)
      @other_groups = Group.where(['group_id IS ? AND user_id <> ? AND city = ?', nil, current_user.id, @user.city])
      @group = Group.create
        if current_user.following.blank?
          @interests = Interest.all
        else
          @newinterests = Interest.where("id NOT IN (?)", current_user.relationships.pluck(:followed_id))
          interest_ids = @newinterests.find( :all, :select => 'id' ).map( &:id )
          @interests = Interest.find( (1..8).map { interest_ids.delete_at( interest_ids.size * rand ) } )
        end
    else
      @groups = RMeetup::Client.fetch(:groups, :city => @city, :topic => "parents")
      @firstgroups = @groups.first(20)
      @group = Group.create
      @interests = Interest.all
    end
  end

  def team
  end

  def help
  end
end

       <% if group.photo_url? %>
         <%= f.hidden_field :image_path, value: group.photo_url %>
       <% else %>
         <%= f.hidden_field :image_path, value: "/assets/rotate/#{random_image}" %>
       <% end %>


2.0.0p0 :002 > name = "Los Angeles"
 => "Los Angeles" 
2.0.0p0 :003 > name.split
 => ["Los", "Angeles"] 
2.0.0p0 :004 > name.first
 => "L" 
2.0.0p0 :005 > name
 => "Los Angeles" 
2.0.0p0 :006 > names = name.split
 => ["Los", "Angeles"] 
2.0.0p0 :007 > firstname = names.first
 => "Los" 
2.0.0p0 :008 > 

           <% if activity.image_path.File.exists? %>
              <%= image_tag activity.image_path %>
              <% if activity.uploader_image.blank? %>
                <%= image_tag "/assets/rotate/#{random_image}" %>
              <% else %>
                <%= image_tag activity.uploader_image %>
              <% end %>
            <% else %>
              <%= image_tag activity.image_path %>
            <% end %>

            desc "Fetch activities"
task :fetch_activities => :environment do
  require 'mechanize'

      User.all.uniq_by(&:city).each do |user|
            city_name = user.city
            city_format = city_name.downcase.split.join('-')
            state_name = user.state.downcase
            agent = Mechanize.new
            page = agent.get("http://www.scout.me/family-and-kids-events--near--#{city_format}-#{state_name}")
            agent.page.search(".content").each do |group|
                  image_path = group.search("img").to_s[/(http[^"]+\w)/]
                  group_link = group.search("a").first.to_s[/(http[^"]+\w)/]
                  page = agent.get("#{group_link}")
                  title = agent.page.search(".facet-title").text.strip
                  where = agent.page.search(".venue").text.strip
                  start_date = agent.page.search(".value-title").to_s[/(2013[^T]+\d)/]
                  start_time = agent.page.search(".time").text.strip
                  desc = agent.page.search(".facet_description").text.strip.truncate(200)
                  street_address = agent.page.search(".address").text.strip[/([^,]+\w)/]
                  locality = agent.page.search(".locality").text.strip
                  state_address = agent.page.search(".state").text.strip
                  if state_address.present?
                  address = street_address + ", " + locality + ", " + state_address
                  else
                  address = street_address + ", " + locality
                  end
                  phone = agent.page.search(".facet_phone").text.strip
                  link = agent.page.search(".facet_url").text.strip
                  if agent.page.link_with(:class => "facet_url").present?
                  article_link = agent.page.link_with(:class => "facet_url").uri.to_s
                  end
                  website = agent.page.search(".url span").text.strip
                  if agent.page.link_with(:class => "facet_url url").present?
                  website_link = agent.page.link_with(:class => "facet_url url").uri.to_s
                  end
                  if title.present? && start_date.present?
                  Activity.where(:title => title, :where => where, :start_date => start_date,
                  :start_time => start_time, :desc => desc, :address => address, :phone => phone,
                  :link => link, :website => website, :article_link => article_link, :website_link => 
                  website_link, :image_path => image_path).first_or_create
                  puts title, where, start_date, start_time, desc, address, phone, link, website
                  end
            end
      end
end

task :fetch_activities => :environment do
  require 'mechanize'
  require 'uri'
  require 'net/http'

      User.all.uniq_by(&:city).each do |user|
            city_name = user.city
            city_format = city_name.downcase.split.join('-')
            state_name = user.state.downcase
            agent = Mechanize.new
            page = agent.get("http://www.scout.me/family-and-kids-events--near--#{city_format}-#{state_name}")
            agent.page.search(".content").each do |group|
                  image_path = group.search("img").to_s[/(http[^"]+\w)/]
                  group_link = group.search("a").first.to_s[/(http[^"]+\w)/]
                  page = agent.get("#{group_link}")
                  title = agent.page.search(".facet-title").text.strip
                  where = agent.page.search(".venue").text.strip
                  start_date = agent.page.search(".value-title").to_s[/(2013[^T]+\d)/]
                  start_time = agent.page.search(".time").text.strip
                  desc = agent.page.search(".facet_description").text.strip.truncate(200)
                  street_address = agent.page.search(".address").text.strip[/([^,]+\w)/]
                  locality = agent.page.search(".locality").text.strip
                  state_address = agent.page.search(".state").text.strip
                  if state_address.present?
                  address = street_address + ", " + locality + ", " + state_address
                  else
                        if locality.present?
                              address = street_address + ", " + locality
                        else
                              address = street_address
                        end

                  end
                  phone = agent.page.search(".facet_phone").text.strip
                  link = agent.page.search(".facet_url").text.strip
                  if agent.page.link_with(:class => "facet_url").present?
                  article_link = agent.page.link_with(:class => "facet_url").uri.to_s
                  end
                  website = agent.page.search(".url span").text.strip
                  if agent.page.link_with(:class => "facet_url url").present?
                  website_link = agent.page.link_with(:class => "facet_url url").uri.to_s
                  end
                  if title.present? && start_date.present?

                  url = URI.parse(URI.encode(image_path))

                  Net::HTTP.start(url.host, url.port) do |http|
                        response = http.head(url.path)
                        case response
                        when Net::HTTPSuccess, Net::HTTPRedirection
                              case response.content_type
                              when "image/png", "image/gif", "image/jpeg"
                                    image_confirmed = group.search("img").to_s[/(http[^"]+\w)/]
                              else
                                    image_confirmed = nil
                              end
                        else
                              image_confirmed = nil
                        end
                        
                  Activity.where(:title => title, :where => where, :start_date => start_date,
                  :start_time => start_time, :desc => desc, :address => address, :phone => phone,
                  :link => link, :website => website, :article_link => article_link, :website_link => 
                  website_link, :image_path => image_confirmed).first_or_create
                  puts title, where, start_date, start_time, desc, address, phone, link, website
                  end
               end   
            end
      end
end

      @activities = Activity.near(current_user.address)
      @other_activities = Activity.where(['user_id <> ? AND city = ?', current_user.id, @user.city])


      <script>
$('.followed_items').on('click', function(e) {
  e.preventDefault();

  $('<div id="dialog-form"></div>').dialog({
        autoOpen: true,
        width: 520,
        modal: true,
        open: function() {
            $(this).append($("<%= escape_javascript(render(:partial => 'groups/followed_group', :locals => {:group => group})) %>"));
        },
        close: function() {
        $('#dialog-form').remove();
      }
    });
    dialog_form.dialog('open');
    e.preventDefault();
  });
</script>

@other_activities = Activity.where(['user_id <> ? AND city = ?', current_user.id, @user.city]).first(10)

          <% @other_activities.each do |activity| %>
            <%= render :partial => 'activities/other_activity', :locals => { :activity => activity } %>
            <%= render :partial => 'js/other_activities.js.erb', :locals => { :activity => activity } %>
          <% end %>

      other_user = User.near(@user).order("RANDOM()").first
      current_user_interest_ids = current_user.following.pluck(:id)
      matched_interests = other_user.following.pluck(:id)
      #matched_user = other_user.where(following.pluck(:id).include?(current_user_interest_ids))
      @other_user1 = other_user

      <div id="container">
  <div id="first container">
    <div class="two columns">
      <h3 class="profile_match">Your Profile</h3>
      <% if current_user.uploader_image.blank? %>
        <%= image_tag "/assets/rotate/#{random_image}", size: "60", class: 'profile_photo' %>
      <% else %>
        <%= image_tag current_user.uploader_image, size: "60", class: 'profile_photo' %>
      <% end %>
      <p><%= link_to "Change Photo", avatar_user_path(@user), id: 'create_avatar', class: 'change_photo' %></p>
    </div>
    <div class ="six columns"><h3 class="profile_description">
        <%= form_for(@user) do |f| %>
          <%= f.label :desc, "Add a description to your profile" %>
                <%= f.text_area :desc, value: "Tell us a little bit about yourself, and we can better connect you to other parents.", class: "description" %>
            <%= f.submit "Add to Profile", class: "b-side" %></h3>
      <% end %>
    </div>
    <div class="eight columns">
      <hr class="line" />
    </div>
  </div>
    <div class="four columns">
      <h3 class="matched_user">Your Daily Matched Parent</h3>
      <p><%= image_tag "/assets/rotate/#{random_image}", size: "40", class: "matched_user_image" %>
        <%= @matched_user.name %> is a great parent in <%= @matched_user.city %>. She loves <%= @matched_user.other_interests %>. <%= link_to "See full profile here.", avatar_user_path(@matched_user) %></p>
      <br/>
      <p><%= link_to "SEE OTHER PARENTS NEARBY", avatar_user_path(@user), id: 'create_avatar', class: 'other_parents' %></p>
    </div>
    <div class ="four columns">
        <%= form_for(@user) do |f| %>
                <%= f.text_area :desc, value: "Ask a question to #{@matched_user.name} or simply introduce yourself!", class: "send_message"  %>
            <%= f.submit "Send a Message", class: "b-matched_user" %>
      <% end %>
    </div>
  </div>  
</div>
</div>


            <div class ="avatar_select">
                <%= image_tag Avatar.find(1).image_path %>
                <%= f.check_box "user", "image_path", {}, "yes" %> 
                <%= image_tag Avatar.find(2).image_path %>
                <%= f.check_box "user", "image_path", {}, "yes" %> 
                <%= image_tag Avatar.find(3).image_path %>
                <%= f.check_box "user", "image_path", {}, "yes" %> 
                <%= image_tag Avatar.find(4).image_path %>
                <%= f.check_box "user", "image_path", {}, "yes" %> 
            </div>
        <% Avatar.all.each do |avatar| %>  
            <div class ="avatar_select">
                <%= image_tag avatar.image_path %>
                <%= check_box_tag "user[image_path][]", avatar.image_path, false %> 
            </div>
        <% end %> 

        <div id="content">
  <%= image_tag 'fglogo1.png', size: '180x50' %>
  <h1>Create Your Account and Start Finding New Activities</h1>

    <div class="register_form">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :address, "Zip Code" %>
        <%= f.text_field :address %>

        <%= f.label "Are you a Mom or Dad?" %>
        <%= f.radio_button(:gender, "Mom") %><b>Mom</b><br/>
        <%= f.radio_button(:gender, "Dad") %><b>Dad</b> 

        <%= f.label "What best describes you as a parent?" %>
        <%= f.check_box(:single_parent) %><b>Single Parent</b><br/>
        <%= f.check_box(:new_parent) %><b>New Parent</b><br/>
        <%= f.check_box(:non_parent) %><b>I'm not a parent</b><br/>
        <%= f.check_box(:children_under_5) %><b>Parent of children under 5 years old</b><br/>
        <%= f.check_box(:children_5_10) %><b>Parent of children 5 - 10 years old</b><br/>
        <%= f.check_box(:tweens) %><b>Parent of tweens</b><br/>
        <%= f.check_box(:teens) %><b>Parent of teenagers</b><br/>
        <%= f.check_box(:special_needs) %><b>Special Needs</b><br/>
    </div>
        <% Avatar.all.each do |avatar| %>  
            <div class ="avatar_select">
                <%= image_tag avatar.image_path %>
            </div>
        <% end %>  

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "Create my account", class: "b-black" %>
      <% end %>
</div>

<%= render 'layouts/menu' %>
<div class="four columns">
  <div id="mailbox_list" style="border:1px solid #aaa; float:right; margin:1em; padding:1em; width:20%">
  <p><%= link_to "Compose", new_sent_path %></p>
  
  <p><strong>Mailboxes</strong></p>
  <ul>
    <li><%= link_to "Inbox", mailbox_index_path(@folder) %></li>
    <li><%= link_to "Sent", :controller => "sent", :action => "index" %></li>
  </ul>
  </div>
</div>
<div class="eight columns">
<h2><%=h @folder.name %></h2>

<table border="1">
  <tr>
    <th>From</th>
    <th>Subject</th>
    <th>Received</th>
    <th>Body</th>
  </tr>
  
  <% for message in @messages %>
    <tr>
      <td><%=h message.author.name %></td>
      <td><%= link_to h(message.subject.truncate(60)), message_path(message) %></td>
      <td><%= distance_of_time_in_words(message.created_at, Time.now) %> ago</td>
      <td><%= link_to h(message.body.truncate(100)), message_path(message) %></td> 
    </tr>
  <% end %>
</table>

<%= will_paginate @messages %>
    <h2>Sent Messages</h2>

    <table border="1">
      <tr>
        <th>To</th>
        <th>Subject</th>
        <th>Sent</th>
      </tr>

      <% for message in @messages %>
        <tr>
          <td><%=h message.recipients.map(&:name).to_sentence %></td>
          <td><%= link_to h(message.subject.truncate(60)), sent_path(message) %></td>
          <td><%= distance_of_time_in_words(message.created_at, Time.now) %> ago</td>
          <td><%= link_to h(message.body.truncate(100)), sent_path(message) %></td> 
        </tr>
      <% end %>
    </table>

    <%= will_paginate @messages %>
</div>
</div>

 
  <% @messages.each do |message| %>
    <tr>
      <td><%=h message.author.name %></td>
      <%= render :partial => 'js/message.js.erb', :locals => { :message => message } %>
      <div class="messages_showme">
      <td><%= link_to h(message.subject.truncate(60)), message_path(message) %></td>
      </div>
      <td><%= distance_of_time_in_words(message.created_at, Time.now) %> ago</td>
      <td><%= link_to h(message.body.truncate(100)), message_path(message) %></td> 
    </tr>
  <% end %>
</table>

<% @messages.each do |message| %>
    <%= render :partial => 'js/message.js.erb', :locals => { :message => message } %>
    <tr>

      <td><%=h message.author.name %></td>
      <td><%= message.subject.truncate(60) %></td>
      <td><%= distance_of_time_in_words(message.created_at, Time.now) %> ago</td>
      <td><%= message.body.truncate(100) %></td> 

    </tr>
  <% end %>
</table>

  <% @messages.each do |message| %>
    <tr>
      <div class="messages_showme">
      <td><%=h message.author.name %></td>
      <td><%= message.subject.truncate(60) %></td>
      <td><%= distance_of_time_in_words(message.created_at, Time.now) %> ago</td>
      <td><%= message.body.truncate(100) %></td> 
      </div>
    </tr>
  <% end %>
</table>

<%= link_to "Inbox", mailbox_index_path(@folder) %>

<div class="container">
       <div class="two columns">
          <h3 class="shortcodes">List Styles</h3>
          <ul class="list-styles">
            <li><a href="#">Photography</a></li>
          </ul>
          <hr class="dotted-hr" />
          <ul class="list-styles arrow-twice">
            <li><a href="#">Web Developement</a></li>
          </ul>
          <hr class="dotted-hr" />
          <ul class="list-styles bigger-arrow">
            <li><a href="#">Typography</a></li>
          </ul>
          <hr class="dotted-hr" />
          <ul class="list-styles big-arrow">
            <li><a href="#">Best Practicess in Design</a></li>
          </ul>
          <hr class="dotted-hr" />
          <ul class="list-styles squared">
            <li><a href="#">Responsive Design</a></li>
          </ul>
          <hr class="dotted-hr" />
          <ul class="list-styles dotted">
            <li><a href="#">Inspiration</a></li>
          </ul>
       </div>                       
<div class="five columns">
<h3 class="shortcodes"><%=h @folder.name %></h3>

<table border="1">
  <tr>
    <th>From</th>
    <th>Subject</th>
    <th>Received</th>
    <th>Body</th>
  </tr>
  <% @messages.each do |message| %>
    <tr>
      <td><%=h message.author.name %></td>
      <td><%= message.subject.truncate(60) %></td>
      <td><%= distance_of_time_in_words(message.created_at, Time.now) %> ago</td>
      <td><%= message.body.truncate(100) %></td> 
      </div>
    </tr>
    <%= render :partial => 'js/message.js.erb', :locals => { :message => message } %>
  <% end %>
  </table>
  
<%= will_paginate @messages %>
    <h2>Sent Messages</h2>

    <table border="1">
      <tr>
        <th>To</th>
        <th>Subject</th>
        <th>Sent</th>
      </tr>

      <% for message in @messages %>
        <tr>
          <td><%=h message.recipients.map(&:name).to_sentence %></td>
          <td><%= link_to h(message.subject.truncate(60)), sent_path(message) %></td>
          <td><%= distance_of_time_in_words(message.created_at, Time.now) %> ago</td>
          <td><%= link_to h(message.body.truncate(100)), sent_path(message) %></td> 
        </tr>
      <% end %>
    </table>

    <%= will_paginate @messages %>
  </div>
</div>

    <div class="four columns">
      <h3 class="matched_user">Today's Matched Parent</h3>
      <%= image_tag "avatars/brunette1.png", class: "matched_user_image" %>
        <p class ="match"><%= @matched_user.name %> <%= @matched_user.profile_stats %> in <%= @matched_user.city %>. <%= @matched_user.kid_stats %> <%= @matched_user.parent_interests %> <%= @matched_user.parent_activities %><br/>
        <strong><center><%= link_to "See full profile here.", avatar_user_path(@matched_user) %></center></strong></p>
      <br/>
      <p><%= link_to "See more parent profiles nearby", avatar_user_path(@user), id: 'create_avatar', class: 'other_parents' %></p>
    </div>
    <div class ="four columns">
        <%= form_for(@user) do |f| %>
                <%= f.text_area :desc, value: "*Ask a question to #{@matched_user.name} or simply introduce yourself!*

Hi! It seems like we have some common interests. How are you handling being a parent in #{@matched_user.city}?" , class: "send_message"  %>
            <%= f.submit "Send Message", class: "b-matched_user" %>
      <% end %>
    </div>
  </div>  
</div>
</div>

@folder = Folder.where('user_id IS ?', current_user.id)

<%= f.hidden_field('messageto[]', :value => @matched_user.id) %>
<li><a class="inbox">Inbox</a></li>

$(document).ready(function() {
  $('#go_inbox').click(function(e) {
    e.preventDefault();
    
    var url = $(this).attr('href');
    var dialog_form = $('<div id="dialog-form">Loading form...</div>').dialog({
      autoOpen: true,
      width: 520,
      modal: true,
      open: function() {
        return $(this).load(url + ' #content');
      },
    });
    dialog_form.dialog('open');
    e.preventDefault();
  });
});
<li><%= link_to "Inbox", mailbox_index_path, id: 'go_inbox' %></li>
<li><%= link_to "Inbox", mailbox_index_path, id: 'go_inbox' %></li>

      <td><%= link_to message.author.name, message_path(message) %></td>
      <td><%= link_to message.subject.truncate(60), message_path(message), class: 'go_message' %></td>
      <td><%= link_to distance_of_time_in_words(message.created_at, Time.now), message_path(message), class: 'go_message' %> ago</td>
      <td><%= link_to message.body.truncate(100), message_path(message), class: 'go_message' %></td> 

      $('<div id="dialog-form"></div>').dialog({
        autoOpen: true,
        width: 520,
        modal: true,
        open: function() {
           return $(this).load(url + ' #content');
        close: function() {
        $('#dialog-form').remove();
      }
    });
    dialog_form.dialog('open');
    e.preventDefault();
  });
});
("<%= escape_javascript(render(:partial => 'messages/message_show', :locals => {:message => message})) %>"));
 $('<div id="dialog-form"></div>').dialog({
        autoOpen: true,
        width: 680,
        modal: true,
        open: function() {
            $(this).append($("<%= escape_javascript(render(@message)) %>"));
        },
        close: function() {
        $('#dialog-form').remove();
      }
    });
    dialog_form.dialog('open');
    e.preventDefault();
  });
});

ActiveRecord::Base.connection.execute("SELECT SETVAL('message_id_seq', 1)")

  <p>
    To:<br />
    <select name="message[to][]">
      <%= options_from_collection_for_select(User.find(:all), :id, :name, @message.to) %>
    </select>
  </p>

                    image_path = place.search("img").to_s[/(http[^"]+\w)/]

<div class="two-thirds column">
        <nav id="menu" class="navigation">
          <ul id="nav" class="clearfix">
            <li><a href="index.html" class="active">Home<span>home info</span></a>
              <ul>
                <li><a href="index02.html">Index 02</a></li>
                <li><a href="index03.html">Index 03</a></li>
                <li><a href="index04.html">Index 04</a></li>
                <li><a href="faq.html">F.A.Q.</a></li>
                <li><a href="team.html">Our Team</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="prices.html">Prices</a></li>
                <li><a href="sidebar-left.html">Sidebar Left</a></li>
                <li><a href="sidebar-right.html">Sidebar Right</a></li>
                <li><a href="#">And This</a>
                  <ul>
                    <li><a href="#">Goes Down</a></li>
                    <li><a href="#">A Really</a></li>
                    <li><a href="#">Really Long</a></li>
                    <li><a href="#">Way!</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="shortcodes.html">How It Works<span>features info</span></a></li>
            <li><a href="projects.html">Team<span>folio extra info</span></a>
              <ul>
                <li><a href="projects02.html">Portfolio 02</a></li>
                <li><a href="projects03.html">Portfolio 03</a></li>
                <li><a href="projects-single.html">Portfolio Single</a></li>
              </ul>
            </li>
            <li><a href="blog.html">Contact<span>extra info</span></a>
              <ul>
                <li><a href="blog-full-width.html">Full Width</a></li>
                <li><a href="blog-variant.html">Small Image</a></li>
                <li><a href="blog-single.html">Single Page</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="sixteen columns">
        <hr class="line" />
      </div>
    </div>
  </header>
  <div class="container main">
            <div class="eight columns">
          <h3 class="shortcodes">Check out your community and meet fellow parents.</h3>
          <ul class="tabs-nav">
            <li><a href="#tab1">User Sign Up</a></li>
            <li><a href="#tab2">Log In</a></li>
          </ul>
          <div class="tabs-container">
            <div id="tab1" class="tab-content">Finding other parents to hang out and schedule playdates with can be hard. Scroll through local family events, places and groups and discover moms and dads with similar interests. <br /> <%= link_to "Join your community", signup_path, id: 'create_user', class: "b-new", style: "color:white" %> </div>
            <div id="tab2" class="tab-content">
              <%= form_for(:session, url: sessions_path) do |f| %>

                  <%= f.label :email %>
                    <%= f.text_field :email %>

                  <%= f.label :password %>
                    <%= f.password_field :password %>

                    <%= f.submit "Sign in", style: 'color:white', class: "b-color" %>
                <% end %>
            </div>
          </div>
        </div> 
        <div class="eight columns">
          <div class="flexslider work-slider">
            <ul class="slides">
              <li>
                <%= image_tag "imgs/slider/momsatpark.png" %>
              </li>
              <li>
                <%= image_tag "imgs/slider/slidergraphic.jpg" %>
              </li>
            </ul>
          </div>
        </div>  
    </div>
    
    <div class="container">
      <div class="sixteen columns">
        <hr class="line slogan" />
      </div>
    </div>
    
    <div id="page-content" class="full-width container projects">

      <div class="container">
        <div class="sixteen columns">
          <h3 class="shortcodes">What's going on in <%= @city %>.</h3>
          <div id="filters">
            <ul class="option-set" data-option-key="filter">
              <li><a href="#filter" data-option-value="*">See All</a></li>
              <li><a href="#filter" class="selected" data-option-value=".activities">Activities</a></li>
              <li><a href="#filter" data-option-value=".groups">Groups</a></li>
              <li><a href="#filter" data-option-value=".places">Places</a></li>
              <li><a href="#filter" data-option-value=".interests">Interests</a></li>
            </ul>
          </div>
        </div>
      </div>
    
      <div class="container">
        <div id="portfolio-wrapper">
        
          <div class="four columns portfolio-item activities">
            <div class="our-work">
              <a class="img-overlay" href="#">
                <%= image_tag "imgs/events/kites.png" %>
                <div class="img-overlay-div"></div>
              </a>
              <h3><a href="#">Project no.1</a><span>features info</span></h3>
            </div>
          </div>
          <div class="four columns portfolio-item activities">
            <div class="our-work">
              <a class="img-overlay" href="#">
                <%= image_tag "imgs/events/woodworkresized.png" %>
                <div class="img-overlay-div"></div>
              </a>
              <h3><a href="#">Project no.2</a><span>features info</span></h3>
            </div>
          </div>
          <div class="four columns portfolio-item interests">
            <div class="our-work">
              <a class="img-overlay" href="#">
                <%= image_tag "imgs/groups/motherwithcutebaby.png" %>
                <div class="img-overlay-div"></div>
              </a>
              <h3><a href="#">Project no.3</a><span>features info</span></h3>
            </div>
          </div>
          <div class="four columns portfolio-item activities">
            <div class="our-work">
              <a class="img-overlay" href="#">
                <%= image_tag "imgs/work_big/work04.jpg" %>
                <div class="img-overlay-div"></div>
              </a>
              <h3><a href="#">Project no.4</a><span>features info</span></h3>
            </div>
          </div>
          
          <div class="four columns portfolio-item groups">
            <div class="our-work">
              <a class="img-overlay" href="#">
                <%= image_tag "imgs/work_big/work05.jpg" %>
                <div class="img-overlay-div"></div>
              </a>
              <h3><a href="#">Project no.5</a><span>features info</span></h3>
            </div>
          </div>
          <div class="four columns portfolio-item groups">
            <div class="our-work">
              <a class="img-overlay" href="#">
                <%= image_tag "imgs/work_big/work06.jpg" %>
                <div class="img-overlay-div"></div>
              </a>
              <h3><a href="#">Project no.6</a><span>features info</span></h3>
            </div>
          </div>
          <div class="four columns portfolio-item places">
            <div class="our-work">
              <a class="img-overlay" href="#">
                <%= image_tag "imgs/work_big/work07.jpg" %>
                <div class="img-overlay-div"></div>
              </a>
              <h3><a href="#">Project no.7</a><span>features info</span></h3>
            </div>
          </div>
          <div class="four columns portfolio-item places">
            <div class="our-work">
              <a class="img-overlay" href="#">
                <%= image_tag "imgs/events/carnivalresized.png" %>
                <div class="img-overlay-div"></div>
              </a>
              <h3><a href="#">Project no.8</a><span>features info</span></h3>
            </div>
          </div>
          
          <div class="four columns portfolio-item groups">
            <div class="our-work">
              <a class="img-overlay" href="#">
                <%= image_tag "imgs/events/yogaresized.png" %>
                <div class="img-overlay-div"></div>
              </a>
              <h3><a href="#">Project no.9</a><span>features info</span></h3>
            </div>
          </div>
          <div class="four columns portfolio-item activities">
            <div class="our-work">
              <a class="img-overlay" href="#">
                <%= image_tag "imgs/work_big/work10.jpg" %>
                <div class="img-overlay-div"></div>
              </a>
              <h3><a href="#">Project no.10</a><span>features info</span></h3>
            </div>
          </div>
          <div class="four columns portfolio-item interests">
            <div class="our-work">
              <a class="img-overlay" href="#">
                <%= image_tag "imgs/work_big/work11.jpg" %>
                <div class="img-overlay-div"></div>
              </a>
              <h3><a href="#">Project no.11</a><span>features info</span></h3>
            </div>
          </div>
          <div class="four columns portfolio-item groups">
            <div class="our-work">
              <a class="img-overlay" href="#">
                <%= image_tag "imgs/events/bouncyhouseresized.png" %>
                <div class="img-overlay-div"></div>
              </a>
              <h3><a href="#">Project no.12</a><span>features info</span></h3>
            </div>
          </div>
          
          <div class="four columns portfolio-item places">
            <div class="our-work">
              <a class="img-overlay" href="#">
                <%= image_tag "imgs/work_big/work13.jpg" %>
                <div class="img-overlay-div"></div>
              </a>
              <h3><a href="#">Project no.13</a><span>features info</span></h3>
            </div>
          </div>
          <div class="four columns portfolio-item groups">
            <div class="our-work">
              <a class="img-overlay" href="#">
                <%= image_tag "imgs/work_big/work14.jpg" %>
                <div class="img-overlay-div"></div>
              </a>
              <h3><a href="#">Project no.14</a><span>features info</span></h3>
            </div>
          </div>
          <div class="four columns portfolio-item events">
            <div class="our-work">
              <a class="img-overlay" href="#">
                <%= image_tag "imgs/work_big/work15.jpg" %>
                <div class="img-overlay-div"></div>
              </a>
              <h3><a href="#">Project no.15</a><span>features info</span></h3>
            </div>
          </div>
          <div class="four columns portfolio-item interests">
            <div class="our-work">
              <a class="img-overlay" href="#">
                <%= image_tag "imgs/work_big/work16.jpg" %>
                <div class="img-overlay-div"></div>
              </a>
              <h3><a href="#">Project no.16</a><span>features info</span></h3>
            </div>
          </div>
          
        </div>
      </div>
    
    </div>
      
  </div>
  <footer>
    <div class="container">
      <div class="four columns">
        <div class="company">
          <%= image_tag "footer_logo.png" %>
          <p>Alice drew her foot as far down the chimney as she could and waited till she heard a little animal scratching and scrambling about in the chimney close above her; then she gave one sharp kick and waited to see what would happen next.</p>
        </div>
      </div>
      <div class="four columns">
        <h3>Contact information</h3>
        <p>6334 Central Luminous Boulevard,<br />
        Los Angeles Coast, CA 903211<br /><br />
        Phone: 021-345-124<br />
        Fax: 542-456-765<br /><br />
        E-mail: <a href="#">support@black&amp;orange.com</a></p>
      </div>
      <div class="four columns">
        <h3>Recent tweets</h3>
        <p>If you happen to be in Europe in Oct, join "Test The Web Forward" conf in Paris with editors of Web standards - <a href="#">http://testthewebforward.org/paris-2012.html</a><br />
        <span class="tweet_time">12 hours ago</span><br />
        A useful case-study: How to Make Your Own App Promo Cards - <a href="#">http://bit.ly/PV5cjh</a><br />
        <span class="tweet_time">13 hours ago</span></p>
      </div>
      <div class="four columns">
        <div class="flickr clearfix">
          <h3>From Flickr</h3>
          <a href="#"><%= image_tag "imgs/flickr/flickr01.jpg" %></a>
          <a href="#"><%= image_tag "imgs/flickr/flickr02.jpg" %></a>
          <a href="#"><%= image_tag "imgs/flickr/flickr03.jpg" %></a>
          <a href="#"><%= image_tag "imgs/flickr/flickr04.jpg" %></a>
          <a href="#"><%= image_tag "imgs/flickr/flickr05.jpg" %></a>
          <a href="#"><%= image_tag "imgs/flickr/flickr06.jpg" %></a>
          <a href="#"><%= image_tag "imgs/flickr/flickr01.jpg" %></a>
          <a href="#"><%= image_tag "imgs/flickr/flickr06.jpg" %></a>
          <a href="#"><%= image_tag "imgs/flickr/flickr07.jpg" %></a>
          <a href="#"><%= image_tag "imgs/flickr/flickr08.jpg" %></a>
          <a href="#"><%= image_tag "imgs/flickr/flickr02.jpg" %></a>
          <a href="#"><%= image_tag "imgs/flickr/flickr03.jpg" %></a>
        </div>
      </div>
      <div class="sixteen columns">
        <hr class="line footer" />
      </div>
      <div class="eight columns">
        <div class="copyright">
          &copy; Copyright 2013
          <a href="index.html">Black&amp;Green</a>.
          All Rights Reserved. Theme by 
          <a target="_blank" href="http://themeforest.net/user/The_Silverman">silviu andrei</a>.
        </div>
      </div>
      <div class="eight columns">
        <div class="social">
          <a href="#">
            <%= image_tag "social/dribbble.png" %>
          </a>
          <a href="#">
            <%= image_tag "social/twitter.png" %>
          </a>
          <a href="#">
            <%= image_tag "social/vimeo.png" %>
          </a>
          <a href="#">
            <%= image_tag "social/facebook.png" %>
          </a>
          <a href="#">
            <%= image_tag "social/youtube.png" %>
          </a>
          <a href="#">
            <%= image_tag "social/digg.png" %>
          </a>
        </div>
      </div>

          <% @other_places.each do |place| %>
            <%= render :partial => 'places/other_place', :locals => { :place => place } %>
            <%= render :partial => 'js/other_places.js.erb', :locals => { :place => place } %>
          <% end %>


                activities = Activity.where('start_date IS NOT NULL AND user_id <> ?', current_user.id)
      @activities = activities.near(@user).all( :order => "start_date", :limit => 15)

      <div id="follow_form<%= "#{activity.id}" %>">                      
  <div class="four columns portfolio-item activities">
    <div class="our-work">
        <a class="img-overlay">
          <div class= "min-height-activities">
            <%= image_tag activity.image_path %>
            <div class="img-overlay-div">
             <div class="activities_showme"> 
            <h4>
            <%= if activity.title.length > 35; activity.title.truncate(35) + "...  "; else activity.title; end %>
            </h4>
            <h5>
            <br />
            <%= if activity.desc.length > 130; activity.desc.truncate(130); else activity.desc; end %>...<div class="learn_more"> Learn More</div>
            </h5>
              </div>
            <%= form_for(current_user.activity_relationships.build(activity_followed_id: 
                             activity.id), remote: true) do |f| %> 
                <div><%= f.hidden_field :activity_followed_id %></div>
                <%= f.submit "Add to My Activities", class: "b-item" %>
            <% end %>
            </div>
          </div>
        </a>
        <% if activity.title.length > 30 %>
        <h3>  
          <div class="smaller_size">
            <%= link_to activity.title.truncate(30), "#", class: "activities_showme" %><span>
            <% if activity.start_date.blank? %> 
              <%= link_to activity.when.truncate(40), "#", class: "activities_showme" %>
            <% else %>
              <%= link_to activity.start_date.to_formatted_s(:rfc822), "#", class: "activities_showme" %>
            <% end %></span>
          </div>
        </h3>
        <% else %>
          <h3> <%= link_to activity.title, "#", class: "activities_showme" %><span>
              <% if activity.start_date.blank? %> 
                <%= link_to activity.when.truncate(40), "#", class: "activities_showme" %>
              <% else %>
                <%= link_to activity.start_date.to_formatted_s(:rfc822), "#", class: "activities_showme" %>
              <% end %></span></h3>
        <% end %>
    </div>
  </div>
</div>        

    other_user = User.near(@user).where.not(id: current_user.id).where(['gender = ? AND single_parent = ? OR new_parent = ? OR special_needs = ?
        OR children_under_5 = ? OR children_5_10 = ? OR tweens = ? OR teens = ? OR non_parent = ?',
        current_user.gender, current_user.single_parent, current_user.new_parent, current_user.special_needs,
        current_user.children_under_5, current_user.children_5_10, current_user.tweens, current_user.teens,
        current_user.non_parent])
    if other_user.empty? && User.near(@user).present?
        @matched_users = Rails.cache.fetch(@user.cache_key + '/daily_match', expires_in: 1.day){
        User.near(@user).order("RANDOM()").first(5)}
    else
        @matched_users = Rails.cache.fetch(@user.cache_key + '/daily_match', expires_in: 1.day){
        other_user.order("RANDOM()").first(5)}
    end