<% title "Family Groups - How It Works" %>
<% description "Family Groups is a site that matches you to other parents in your community by connecting you through your common interests and local activities." %>
<div class="two-thirds column">
                <nav id="menu" class="navigation">
                    <ul id="nav" class="clearfix">
                        <li><a href="index.html" class="active">Home<span>Dashboard</span></a>
                        </li>
                        <li><%= link_to howitworks_path, class: 'static_page' do %>How It Works
                            <span>Take a Look<% end %></span></li>
                        <li><%= link_to contact_path, class: 'static_page' do %>Contact
                            <span>Talk to Us<% end %></span></li>
                    </ul>
                </nav>
            </div>
      <div class="sixteen columns">
        <hr class="line" />
      </div>
    </div>
  </header>

  <div class="container main">
    <h3 class="shortcodes">To see more activities, groups and places, sign up today! It's free.</h3>
      <div class="eight columns">
          <%= image_tag 'premium_logo.jpg', class: 'premium_logo' %>
      </div>
<div class="eight columns">
  <%= image_tag 'premium_ad_resized1.jpg', class: 'premium_ad' %>
</div>
    <div class="container">
      <div class="sixteen columns">
        <hr class="line slogan" />
      </div>
    </div>
    </div>

  <div class="container main">
    <div class="nine columns">
        <div class="less_right">
<div id="content">
  <h6>How It Works</h6>
  <hr class="line" />
  <br/>
  <h1>Check out this video we're planning to use for a Kickstarter campaign to raise money for a mobile app.</h1>
  <iframe src="//player.vimeo.com/video/81426117" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/81426117">Family Groups Video for a Kickstarter Campaign</a> from <a href="http://vimeo.com/user23346921">Matt Melone</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
  <br/>
  <h6>Guide to Using FamilyGroups.org</h6>
  <hr class="line" />
  <br/>
  <h1>With Family Groups, you can follow local activities, groups and places, and then meet other parents through your common interests. </h1>
    <%= image_tag "slider_graphic.jpg", size:'390x190', style:'margin-left:31px', border: "1px solid #333333";  %>
  <br/>
  <br/>
  <h1>
  1. Create an account. It's free and easy.
  <br/>
  <br/>
  2. Check out local activities, places, groups and interests. Follow ones you like most to add them to your profile and get updates.
  <br/>
  <br/>
  3. Through your interests and activities, we'll suggest other parents you might get along with nearby. Reach out to them with questions or just say hello.
  <br/>
  <br/>
  4. Invite friends to join and grow the Family Groups community!</h1>
  <%= link_to "Join your community", signup_path, id: 'create_user', class: "b-new", style: "color:white" %> 
</div>
</div>
</div>
</div>
<%= render 'layouts/footer' %>