<h3 class="compose">Send a Message to Someone You Know</h3>

<%= form_for :message, :url => {:controller => "sent", :action => "create"} do |f| %>

  <p>
    To:<br />
    <select name="message[to][]">
      <%= options_from_collection_for_select(@user.inverse_friends.find(:all) && @user.friends, :id, :name, @message.to) %>
    </select>
  </p>

  <p>Subject: <%= f.text_field :subject %></p>
  <p>Body:<br /> <%= f.text_area :body, class: 'send_message4' %></p>
  <p><%= submit_tag "Send", class: 'button_center' %></p>
<% end %>