<div class="four columns portfolio-item groups">
    <div class="our-work">
        <a class="img-overlay">
        	<div class= "min-height">
              <%= if group.photo_url.blank?; image_tag "/assets/rotate/#{random_image}"; end %>
              <%= image_tag group.photo_url %>
            <div class="img-overlay-div">
             <div class="sign_showme"> 
            <h4>
            <%= if group.name.html_safe.length > 50; group.name.html_safe.mb_chars.limit(50).to_s + "...  "; else group.name.html_safe.mb_chars.to_s; end %>
            </h4>
            <h5>
            <br />
            <%= if group.description.html_safe.length > 130; group.description.html_safe.mb_chars.limit(129).to_s; else group.description.html_safe; end %>...<div class="learn_more"> <strong>Learn More</strong></div>
            </h5>
              </div>
                <div class='sign_showme'>
                  <div class="button", style="margin-left:58px">
                    <div class="button_modified">
                  Follow
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </a>
        <% if group.name.length > 30 %>
        <h3>  
          <div class="smaller_size">
            <%= link_to group.name.html_safe.mb_chars.limit(50).to_s, "#", class: "sign_showme" %><span><%= link_to group.city.html_safe.mb_chars.limit(50).to_s, "#", class: "sign_showme" %></span>
          </div>
        </h3>
        <% else %>
        <h3><%= link_to group.name.html_safe.mb_chars.limit(30).to_s, "#", class: "sign_showme" %><span><%= link_to group.city.html_safe.mb_chars.limit(50).to_s, "#", class: "sign_showme" %></span></h3>
        <% end %>
    </div>
</div>				