<div class="container main">
    <div class="two columns">
      <% if group.uploader_image.blank? %>
        <%= image_tag group.image_path, size: "70x70" %>
      <% else %>
        <%= image_tag group.uploader_image, size: "70x70" %>
      <% end %>     
      <br/> 
    <strong>Number of followers:</strong> <%= group.followers.count %> 
      <br />
      <strong>City:</strong> <%= group.city %><br/>
    </div> 
    <div class="six columns">
    <h6><%= group.name.html_safe.mb_chars.limit(50).to_s %></h6>
    <%= group.desc %>
    <br />
    <% if group.link? %>
<h3>
        <%= link_to "Check out the website here", group.link, target: "blank" %></h3>
    <% end %>
      <div id="disappear_button<%= "#{group.id}" %>">
          <%= form_for(current_user.group_relationships.build(group_followed_id: 
                             group.id), remote: true) do |f| %> 
          <div><%= f.hidden_field :group_followed_id %></div>
          <%= f.submit "Add to My Groups", class: "b-black" %>
          <% end %>
       </div>
    </div>
  </div>  