<div class="four columns portfolio-item groups">
    <div class="our-work">
        <a class="img-overlay">
        	<div class= "min-height">
              <%= if group.uploader_image.blank?; image_tag "/assets/rotate/#{random_image}", alt: "Family Group"; end %>
              <%= image_tag group.uploader_image, alt: "Family Groups" %>
            <div class="img-overlay-div">
              <div class="sign_showme">
            <h4>
            <%= if group.name.length > 50; group.name.limit(50) + "...  "; else group.name; end %>
            </h4>
            <h5>
            <br />
            <%= if group.desc.length > 130; group.desc.limit(129); else group.desc; end %>...<div class="learn_more"> Learn More</div>
            </h5>
              </div>
                <div class='sign_showme'>
                  <div id="b-item", style="color:white">
                  Follow
                  </div>
                </div>
            </div>
          </div>
        </a>
        <% if group.name.length > 30 %>
        <h3>  
          <div class="smaller_size">
            <%= link_to group.name.limit(50), "#", class: "sign_showme" %><span><%= link_to "Click here to learn more", "#", class: "sign_showme" %></span>
          </div>
        </h3>
        <% else %>
        <h3><%= link_to group.name, "#", class: "sign_showme" %><span><%= link_to "Click here to learn more", "#", class: "sign_showme" %></span></h3>
        <% end %>
    </div>
</div>				