<div class="container main">
    <div class="two columns">
      <% if group.image_path %>
      <%= image_tag "/assets/rotate/#{random_image}", size: "70x70" %>
      <% else %>
      <%= image_tag group.image_path, size: "70x70" %>
      <% end %>      
      <br />
      City: <%= group.city %>
    </div> 
    <div class="six columns">
    <h6><%= group.name %></h6>
    <%= group.desc %>
    <br />
    <% if group.link? %>
    <h3>Check out the website at: 
      <br />
        <%= link_to group.link %></h3>
    <% end %>
      <div id="disappear_button<%= "#{group.id}" %>">
          <%= form_for(current_user.group_relationships.build(group_followed_id: 
                             group.id), remote: true) do |f| %> 
          <div><%= f.hidden_field :group_followed_id %></div>
          <%= f.submit "Add to My Groups", class: "b-black" %>
          <% end %>
       </div>
    </div>
  </div>  