<%= render 'layouts/menu_and_tabs' %>

		<div class="container">
			<div class="sixteen columns">
				<hr class="line slogan" />
			</div>
		</div>

		<% if @user.subscriber.present? %>
		
		<div id="page-content" class="full-width container projects">
			<div id="back_button" data-no-turbolink >
				<ul>
				  <li><%= link_to "Go Back To See All Items", root_path, id: "back_button" %></li>
			    </ul>
			</div>
			<div class="container">
				<div class="sixteen columns">
					<h4> Groups around <%= @user.city %></h4>
				<div class="container">
					<div id="portfolio-wrapper">
					<% @groups.each do |group| %>
						<%= render :partial => 'groups/group', :locals => { :group => group } %>
						<%= render :partial => 'js/groups.js.erb', :locals => { :group => group } %>
					<% end %>
					<% @other_groups.each do |group| %>
						<%= render :partial => 'groups/other_group', :locals => { :group => group } %>
						<%= render :partial => 'js/other_groups.js.erb', :locals => { :group => group } %>
					<% end %>
					</div>
				</div>	
			</div>
		</div>
		<% end %>
	</div>
</div>
<%= render 'layouts/footer' %>