<div class="blank">
<div id="content">
  <h1>Post a new Group</h1>

    <div class="register_form">
      <%= form_for @group, :html => {:multipart => true} do |f| %>
        <%= f.label "Group Name" %>
        <%= f.text_field :name %>

        <%= f.label "Address" %>
        <%= f.label "Please at least provide a city and state", class: "small_label" %>
        <%= f.text_field :address %>

        <%= f.label "Group Description" %>
        <%= f.text_area :desc, size: '3x3' %>

        <%= f.label "Link with more info*" %>
        <%= f.label "Please give a working URL address", class: "small_label" %>
        <%= f.text_field :link %>
        <br/>
        <%= f.label "Upload an image that helps visualize group*" %>
        <%= f.label "Image should be square in shape", class: "small_label" %>
        <%= f.file_field :uploader_image %>

        <%= f.hidden_field :user_id, value: current_user.id %>

        <%= f.submit "Create Group", class: "b-black" %>
      <% end %>
      <p>* not required</p>
  </div>
</div>
</div>
<div class="top_margin">
<%= render 'shared/group_error_messages' %>
<div class="centered_button">
<%= link_to "Return Home", root_path, class: 'b-new', style:'color:white' %>
</div>