<div id="content">
  <h1>Group Sign Up</h1>

    <div class="register_form">
      <%= form_for @group, :html => {:multipart => true} do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :link %>
        <%= f.text_field :link %>

        <%= f.label :city %>
        <%= f.text_field :city %>

        <%= f.label :desc %>
        <%= f.text_field :desc %>

        <%= f.file_field :image_path %>

        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :original_record, value: true %>
        <%= f.submit "Create Group", class: "b-black" %>
      <% end %>
  </div>
</div>