<div class="blank">
<div id="content">
  <h1>Group Sign Up</h1>

    <div class="register_form">
      <%= form_for @group, :html => {:multipart => true} do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :link %>
        <%= f.text_field :link %>

        <%= f.label :address %>
        <%= f.text_field :address %>

        <%= f.label :desc %>
        <%= f.text_field :desc %>

        <%= f.file_field :uploader_image %>

        <%= f.hidden_field :user_id, value: current_user.id %>

        <%= f.submit "Create Group", class: "b-black" %>
      <% end %>
  </div>
</div>
</div>