<div class="container main">
    <div class="two columns">
      <%= image_tag friend.image_path %><br/>   
      City: <%= friend.city %>
    </div> 
    <div class="six columns">
    <h6><%= friend.name %></h6>
    <%= friend.name %> <%= friend.profile_stats %> in <%= friend.city %>. <%= friend.kid_stats %> <%= friend.parent_interests %> <%= friend.parent_activities %>
    <br />
    <br />
    <p>Some of <%= friend.name %>'s Interests:</p>
    <% friend.following.each do |interest| %>
      <span><%= image_tag interest.image_path, size: '30' %>
    <% end %>
    <br/>
     <p>Some of <%= friend.name %>'s Activities:</p>
    <% friend.activity_following.each do |activity| %>
      <span><%= image_tag activity.image_path, size: '30' %>
    <% end %>
    <br/> 
        <p>Some of <%= friend.name %>'s Groups:</p>
    <% friend.group_following.each do |group| %>
      <span><%= image_tag group.image_path, size: '30' %>
    <% end %>
    <br/>
     <p>Some of <%= friend.name %>'s Places:</p>
    <% friend.place_following.each do |place| %>
      <span><%= image_tag place.image_path, size: '30' %>
    <% end %>
    </div>
  </div> 