<% title "Family Groups - Your Groups" %>
<%= render 'layouts/menu_and_tabs' %>
		</div>

		<div class="container">
			<div class="sixteen columns">
				<hr class="line slogan" />
			</div>
		</div>
		
		<div id="page-content" class="full-width container projects">
			<div id="back_button" data-no-turbolink >
				<ul>
				  <li><%= link_to "Go Back To See All Items", root_path, id: "back_button" %></li>
			    </ul>
			</div>
			<div class="container">
				<div class="sixteen columns">
					<h4> My Groups </h4>
				<div class="container">
					<div id="portfolio-wrapper">
					<% @groups.each do |group| %>
						<%= render :partial => 'groups/followed_group_page_item', :locals => { :group => group } %>
						<%= render :partial => 'js/followed_groups_page.js.erb', :locals => { :group => group } %>
					<% end %>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>