<%= render 'layouts/menu_and_tabs' %>	
		</div>
		<div class="container">
			<div class="sixteen columns">
				<hr class="line slogan" />
			</div>
		</div>
		
		<div id="page-content" class="full-width container projects">
			<div id="back_button" data-no-turbolink >
				<ul>
				  <li><%= link_to "Go Back To See All Items", root_path, id: "back_button" %></li>
			    </ul>
			</div>
			<div class="container">
				<div class="sixteen columns">
					<h4> My Interests</h4>
				<div class="container">
					<div id="portfolio-wrapper">
					<% @interests.each do |interest| %>
						<%= render :partial => 'interests/followed_interest_page_item', :locals => { :interest => interest } %>
						<%= render :partial => 'js/followed_interests_page.js.erb', :locals => { :interest => interest } %>
					<% end %>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>