<div class="two-thirds column">
                <nav id="menu" class="navigation">
                    <ul id="nav" class="clearfix">
                        <li><a href="index.html" class="active">Home<span>Dashboard</span></a>
                        </li>
                        <li><%= link_to howitworks_path, class: 'static_page' do %>How It Works
                            <span>Take a Look<% end %></span></li>
                        <li><%= link_to contact_path, class: 'static_page' do %>Contact
                            <span>Talk to Us<% end %></span></li>
                    </ul>
                </nav>
            </div>
      <div class="sixteen columns">
        <hr class="line" />
      </div>
    </div>
  </header>

  <div class="container main">
    <h3 class="shortcodes">To see more activities, groups and places, sign up today! It's free.</h3>
      <div class="eight columns">
          <%= image_tag 'premium_logo.jpg', class: 'premium_logo' %>
      </div>
<div class="eight columns">
  <%= image_tag 'premium_ad_resized1.jpg', class: 'premium_ad' %>
</div>
    <div class="container">
      <div class="sixteen columns">
        <hr class="line slogan" />
      </div>
    </div>
    </div>

  <div class="container main">
    <div class="nine columns">
        <div class="less_right">
            <div id="content">
  <%= image_tag 'fglogo1.png', size: '195x50', class: 'low_margin' %>
  <h1>Create Your Account and Start Finding New Activities</h1>

    <div class="register_form">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label "First Name" %>
        <%= f.text_field :name %>

        <%= f.label :last_name %>
        <%= f.label "Last names are never visible but help friends find you through search", class: "small_label" %>
        <%= f.text_field :last_name %>

        <%= f.label "Email Address" %>
        <%= f.text_field :email %>

        <%= f.label :address, "Zip Code" %>
        <%= f.label "Or enter a full City, State, Country", class: "small_label" %>
        <%= f.text_field :address %>

        <%= f.label "Are you Male or Female?" %>
        <%= f.radio_button(:gender, "Male") %><b>Male</b>
        <%= f.radio_button(:gender, "Female") %><b>Female</b> 
        <br/>
        <br/>
        <%= f.label "What best describes you as a parent?" %>
        <%= f.label "Choose as many as you like", class: "small_label" %>
        <div class="container">
            <div class="three columns">
                <%= f.check_box(:single_parent) %><b>Single Parent</b><br/>
                <%= f.check_box(:new_parent) %><b>New Parent</b><br/>
                <%= f.check_box(:non_parent) %><b>I'm not a parent</b><br/>
                <%= f.check_box(:children_under_5) %><b>Have children under age 5</b><br/>
            </div>
            <div class="three columns">
                <%= f.check_box(:children_5_10) %><b>Have children ages 5 - 10</b><br/>
                <%= f.check_box(:tweens) %><b>Parent of tweens</b><br/>
                <%= f.check_box(:teens) %><b>Parent of teenagers</b><br/>
                <%= f.check_box(:special_needs) %><b>Special Needs</b><br/>
            </div>
        </div>
        <br/>
        <%= f.label :avatar, "Pick a Profile Avatar" %>
        <% @female_avatars.all.each do |avatar| %> 
                <%= image_tag avatar.image_path, class: 'avatar_select' %>
                <%= f.radio_button :image_path, avatar.image_path, class: 'avatar_button' %>
        <% end %>
        <br/>
        <% @male_avatars.all.each do |avatar| %> 
                <%= image_tag avatar.image_path, class: 'avatar_select' %>
                <%= f.radio_button :image_path, avatar.image_path, class: 'avatar_button' %>
        <% end %>    
        <br/>
        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "Create my account", class: "b-black", style: 'margin-left:60px' %>
      <% end %>
  </div>
</div>
</div>
</div>
  <div class="seven columns">
    <div class="new_sidebar">
    <br/>
    <%= image_tag "interests/playdates.jpg", size: '270' %>
    <br/>
    <br/>
    <br/>
    <%= image_tag "interests/local.jpg", size: '270' %>
    <br/>
    <br/>
    <br/>
    <%= image_tag "places/garden.jpg", size: '270' %>
    </div>
  </div>
</div>
</div>