<%= render 'layouts/menu_and_tabs' %>	
		</div>

		<div class="container">
			<div class="sixteen columns">
				<hr class="line slogan" />
			</div>
		</div>
		
		<div id="page-content" class="full-width container projects">
			<div id="back_button" data-no-turbolink >
				<ul>
				  <li><%= link_to "Go Back To See All Items", root_path, id: "back_button" %></li>
			    </ul>
			</div>
			<div class="container">
				<div class="sixteen columns">
					<h4> My Places in <%= @user.city %></h4>
				<div class="container">
					<div id="portfolio-wrapper">
					<% @places.each do |place| %>
						<%= render :partial => 'places/followed_place_page_item', :locals => { :place => place } %>
						<%= render :partial => 'js/followed_places_page.js.erb', :locals => { :place => place } %>
					<% end %>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>