<div class="container">
  <div class="three columns">
    <%= render :partial => 'js/compose.js.erb' %>
    <div class='b-compose', style='color:white; text-align:center'>
      Compose
    </div>
    <br/>
    <br/>
    <br/>
    <%= form_tag users_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search], value: "Last Name Only, e.g. Smith", id: 'search_form' %>
      <%= submit_tag "Search for Users", :last_name => nil %>
    </p>
    <% end %>
    <%= form_for(@invite, remote: true) do |f| %>
      <%= f.label "Invite a friend to join!" %>
      <%= f.text_field :email, value: "Email address", id: 'invite_form' %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit "Invite" %>
    <% end %>
    <div id="invite_sent">
    </div>
    <h3 class="following">Friends I Follow</h3>
    <% @user.friends.each do |friend| %>
      <div class="friend"><%= friend.name %> in <%= friend.city %></div>
      <%= render partial: 'js/friends.js.erb', locals: {:friend => friend} %>
    <% end %>
        <h3 class="follower">Friends Following Me</h3>
    <% @user.inverse_friends.each do |friend| %>
      <div class="friend"><%= friend.name %> in <%= friend.city %></div>
      <%= render partial: 'js/friends.js.erb', locals: {:friend => friend} %>
    <% end %>
  </div>
  <div class="nine columns">
<div id="top_space">
</div>
<hr class="line slogan" />
<div id="content">
<h3 class="inbox">YOUR INBOX</h3>

<table border="1">
  <tr>
    <th><strong>From</strong></th>
    <th><strong>Subject</strong></th>
    <th><strong>Received</strong></th>
    <th><strong>Body</strong></th>
  </tr>
  <% @messages.each do |message| %>
    <tr>
      <td><%= image_tag message.author.image_path %><br/>
        <%= link_to message.author.name, message_path(message), remote: true %>
         </td>
      <td><%= link_to message.subject.truncate(60), message_path(message), remote: true %></td>
      <td><%= link_to distance_of_time_in_words(message.created_at, Time.now), message_path(message), remote: true %> ago</td>
      <td><%= link_to message.body.truncate(100), message_path(message), remote: true %></td> 
    </tr>
  <% end %>
  </table>
  
<%= will_paginate @messages %>
    <h3 class="inbox">SENT MESSAGES</h3>

    <table border="1">
      <tr>
        <th><strong>To</strong></th>
        <th><strong>Subject</strong></th>
        <th><strong>Sent</strong></th>
        <th><strong>Body</strong></th>
      </tr>

      <% @sent_messages.each do |message| %>
    <tr>
      <td><%= image_tag message.author.image_path %><br/>
        <%= link_to message.author.name, sent_path(message), remote: true %>
         </td>
      <td><%= link_to message.subject.truncate(60), sent_path(message), remote: true %></td>
      <td><%= link_to distance_of_time_in_words(message.created_at, Time.now), sent_path(message), remote: true %> ago</td>
      <td><%= link_to message.body.truncate(100), sent_path(message), remote: true %></td> 
    </tr>
  <% end %>
  </table>

    <%= will_paginate @messages %>
  </div>
</div>
</div>
<hr class="line slogan" />
</div>
</div>