<div id="follow_form<%= "#{interest.name}" %>">                    
<div class="four columns portfolio-item interests">
    <div class="our-work">
        <a class="img-overlay">
            <div class= "min-height-activities">
                <%= image_tag interest.image_path %>
            <div class="img-overlay-div">
                <div class="interests_showme"> 
            <h4><%= interest.name %></h4>
            </br>
            <h5>Description:
            </br>
            <%= interest.desc.truncate(125) %></h5>
                </div>
            <%= form_for(current_user.relationships.build(followed_id: 
                             interest.id), remote: true) do |f| %> 
                <div><%= f.hidden_field :followed_id %></div>
                <%= f.submit "I'm interested", class: "b-item" %>
            <% end %>
            </div>
           </div>
        </a>
        <h3><%= link_to interest.name, "#", class: "interests_showme" %></a><span>features info</span></h3>
    </div>
   </div>
</div>