<div id="follow_form">						
	<div class="four columns portfolio-item interests">
		<div class="our-work">
			<a class="img-overlay">
			<%= image_tag interest.image_path %>
				<div class="img-overlay-div">
				<h4><%= interest.name %></h4>
				</br>
				<h5>Hi how you doing?
				</br>
				<%= interest.desc %></h5>
				<%= form_for(current_user.relationships.build(followed_id: interest.id), remote: true) do |f| %> 
			   		<div><%= f.hidden_field :followed_id %></div>
   					<%= f.submit "I'm interested", class: "b-black" %>
				<% end %>
				</div>
			</a>
			<h3><a href="#"><%= interest.name %></a><span>features info</span></h3>
		</div>
	</div>
</div>					