<% title "#{@post.title}" %>
<% description "#{@post.body.truncate(200)}" %>
<% if signed_in? %>
    <div class="two-thirds column">
        <nav id="menu" class="navigation">
          <ul id="nav" class="clearfix">
            <li data-no-turbolink><%= link_to root_url do %>Home
              <span>Dashboard<% end %></span></li>
            <li><%= link_to edit_user_path(@user), id: 'edit_user' do %>Profile
              <span>Settings<% end %></span></li>
            <li><a class="inbox">Inbox<span><strong><%= @user.new_messages %></strong> new messages</span></a></li>
            <li><%= link_to blog_path do %>Blog
              <span>News<% end %></span></li>
            <li><%= link_to "Log Out", signout_path, method: "delete" %>
            </li>
            <li><div class="on-top">
            <a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a><br/></div>
            <div class="fb-like" data-href="https://www.facebook.com/familygroups.org" data-width="5" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

<% else %>

<div class="two-thirds column">
                <nav id="menu" class="navigation">
                    <ul id="nav" class="clearfix">
                        <li data-no-turbolink><%= link_to root_url do %>Home
              <span>Dashboard<% end %></span></li>
                        <li><%= link_to howitworks_path, class: 'static_page' do %>How It Works
                            <span>Take a Look<% end %></span></li>
                        <li><%= link_to blog_path do %>Blog
                            <span>News<% end %></span></li>
                                      <li><div class="on-top">
            <a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a><br/></div>
            <div class="fb-like" data-href="https://www.facebook.com/familygroups.org" data-width="5" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
            </li>
                    </ul>
                </nav>
            </div>
    </div>
  </header>

<% end %>


  <div class="container main">
      <div class="eight columns">
          <%= image_tag 'premium_logo.jpg', class: 'premium_logo' %>
      </div>
<div class="eight columns">
  <%= image_tag 'premium_ad_resized1.jpg', class: 'premium_ad' %>
</div>
    <div class="container">
      <div class="sixteen columns">
        <hr class="line slogan" />
      </div>
    </div>
  </div>

  <div class="container main">
    <div class="contents_title">
        Recent Posts</div>
        <div class="table_of_contents">
        <% Post.all(:order => "created_at DESC").each do |post| %>
          <li><%= link_to post.title.truncate(70), post, style: "color:#5B5B5B" %></li>
        <% end %>
      </div>
        <div class="less_right">

<%= render :partial => @post %>

<% if signed_in? && current_user.subscriber == "Blogger" %>
<p>
	<%= link_to 'Edit', edit_post_path(@post) %> |
	<%= link_to 'Destroy', @post, :method => :delete, :confirm => "Are you sure?" %>
</p><% end %>
<div id="back_button" data-no-turbolink>
  <ul>
    <li><%= link_to "Back to Main Page", blog_path, id: "back_button" %></li>
  </ul>
</div>

<div class="blog_title">Comments</div>
<hr class="line blog" />


 </div>
    </div>
  <%= render 'layouts/footer' %>
  <% if signed_in? %>
    <%= render partial: 'js/mailbox.js.erb' %>
  <% end %>