<div class="four columns portfolio-item activities">
    <div class="our-work">
        <%= link_to activity_path(activity), class: "img-overlay2" do %>
        	<div class= "min-height-activities">
             <%= if activity.uploader_image.blank?; image_tag activity.image_path; else image_tag activity.uploader_image; end %>
            <div class="img-overlay-div2">
            <h4>
            <%= if activity.title.length > 35; activity.title.truncate(35) + "...  "; else activity.title; end %>
            </h4>
            <h5>
            <br />
            <%= if activity.desc.length > 130; activity.desc.truncate(130); else activity.desc; end %>...
            </h5>
                  <div class="button", style="margin-left:52px">
                    <div class="button_modified">
                  Learn More
                    </div>
                  </div>
            </div>
          </div>
        <% end %>
        <% if activity.title.length > 30 %>
        <h3>  
          <div class="smaller_size">
            <%= link_to activity.title.truncate(30), activity_path(activity), class: "show_it" %><span>
            <% if activity.start_date == "1/1/2010" %> 
              <%= link_to activity.when.truncate(40), activity_path(activity), class: "show_it" %>
            <% else %>
              <%= link_to activity.start_date.to_formatted_s(:rfc822), activity_path(activity), class: "show_it" %>
            <% end %></span>
          </div>
        </h3>
        <% else %>
          <h3> <%= link_to activity.title, activity_path(activity), class: "show_it" %><span>
              <% if activity.start_date == "1/1/2010" %> 
                <%= link_to activity.when.truncate(40), activity_path(activity), class: "show_it" %>
              <% else %>
                <%= link_to activity.start_date.to_formatted_s(:rfc822), activity_path(activity), class: "show_it" %>
              <% end %></span></h3>
        <% end %>
    </div>
  </div>			