<div id="follow_form<%= "#{activity.id}" %>">                      
  <div class="four columns portfolio-item activities">
    <div class="our-work">
        <a class="img-overlay">
          <div class= "min-height-activities">
          <%= if activity.uploader_image.blank?; image_tag activity.image_path, alt: activity.title, size: "420x420"; else image_tag activity.uploader_image, size: "420x420"; end %>
            <div class="img-overlay-div">
             <div class="activities_showme"> 
            <h4 class="smaller">
            <%= if activity.title.length > 60; activity.title.truncate(60) + "...  "; else activity.title; end %>
            </h4>
            <h5>
            <br />
            <%= if activity.desc.length > 130; activity.desc.truncate(130); else activity.desc; end %>...<div class="learn_more"> Learn More</div>
            </h5>
              </div>
            <%= form_for(current_user.activity_relationships.build(activity_followed_id: 
                             activity.id), remote: true) do |f| %> 
                <div><%= f.hidden_field :activity_followed_id %></div>
                <%= f.submit "Add to My Activities", class: "b-item" %>
            <% end %>
            </div>
          </div>
        </a>
        <h3>  
          <div class="smaller_size">
            <%= link_to activity.title.truncate(60), "#", class: "activities_showme" %><span>
              <%= link_to activity.start_date.to_formatted_s(:rfc822), "#", class: "activities_showme" %></span>
          </div>
        </h3>
    </div>
  </div>
</div>    