<div class="container main">
    <div class="two columns">
      <% if activity.image_path.blank? %>
        <%= image_tag activity.uploader_image, size: "70x70" %>
      <% else %>
        <%= image_tag activity.image_path, size: "70x70" %>
      <% end %>   
      <br />
      City: <%= activity.city %>
    </div> 
    <div class="six columns">
    <h6><%= activity.title.html_safe.mb_chars.limit(100).to_s %></h6>
    <%= activity.desc %>
    <br />
    <% if activity.link? %>
      <br />
        <%= link_to "Check out the website here.", activity.article_link %>
    <% end %>
    <div id="disappear_button<%= "#{activity.id}" %>">
    <%= form_for(current_user.activity_relationships.find_by(activity_followed_id: 
                             activity.id), html: { method: :delete }, remote: true) do |f| %> 
      <%= f.submit "Unfollow", class: "b-black" %>
    <% end %></div>
    </div>
  </div>  