<%= render 'layouts/menu_and_tabs' %>
		</div>

		<div class="container">
			<div class="sixteen columns">
				<hr class="line slogan" />
			</div>
		</div>
		
		<% if @user.subscriber.present? %>

		<div id="page-content" class="full-width container projects">
			<div id="back_button" data-no-turbolink >
				<ul>
				  <li><%= link_to "Go Back To See All Items", root_path, id: "back_button" %></li>
			    </ul>
			</div>
			<div class="container">
				<div class="sixteen columns">
					<h4> Activities and Events around <%= @user.city %></h4>
				<div class="container">
					<div id="portfolio-wrapper">
  					<% @activities.each do |activity| %>
						<%= render :partial => 'activities/activity', :locals => { :activity => activity } %>
						<%= render :partial => 'js/activities.js.erb', :locals => { :activity => activity } %>
					<% end %>
					<% @recurring_activities.each do |activity| %>
						<%= render :partial => 'activities/recurring_activity', :locals => { :activity => activity } %>
						<%= render :partial => 'js/activities.js.erb', :locals => { :activity => activity } %>
					<% end %>
					</div>
				</div>	
			</div>
		</div>
		<% end %>
	</div>
</div>
<%= render 'layouts/footer' %>