<div id="content">
<div class="container main">
    <div class="two columns">
        <% if @activity.image_path.blank? %>
          <%= image_tag @activity.uploader_image, size:'70x70' %>
        <% else %>
          <%= image_tag @activity.image_path, size:'70x70' %> 
        <% end %> 
        <br/>
      <strong>Number of followers:</strong> <%= @activity.followers.count %> 
      <br />
      <strong>City:</strong> <%= @activity.city %><br/>
      <strong>Date:</strong> <% if @activity.when.present? %><%= @activity.when %><% else %><%= @activity.start_date %><% end %>
    </div>
    <div class="six columns">
    <h6><%= @activity.title %></h6>
    <br/>
    <%= @activity.desc %>
    <br />
    <br />
    <h3>If you want to find more events like this where local families hang out, create an account. It's totally free. 
      <br />
    <h3><%= link_to "Join your community", signup_path, id: 'create_user', class: "b-new", style: "color:white; margin-left:60px" %></h3>
    </div>
  </div>  
</div>
