<div class="container main">
    <div class="two columns">
        <% if place.image_path.blank? %>
          <%= image_tag place.uploader_image, size:'70x70' %>
        <% else %>
          <%= image_tag place.image_path, size:'70x70' %> 
        <% end %>    
      <strong>Number of followers:</strong> <%= place.followers.count %> 
      <br />
      <strong>City:</strong> <%= place.city %><br/>
    </div> 
    <div class="six columns">
    <h6><%= place.name %></h6>
    <br/>
    <strong>Address: </strong><%= place.address %><br/><br/>
    <strong>Description: </strong><%= place.desc %>
    <br />
    <% if place.link.present? %>
      <br />
      <strong><%= link_to "Check out the website for this place here.", place.link, target: "blank" %></strong><% end %>
      <div id="disappear_button<%= "#{place.id}" %>">
          <%= form_for(current_user.place_relationships.build(place_followed_id: 
                             place.id), remote: true) do |f| %> 
          <div><%= f.hidden_field :place_followed_id %></div>
          <%= f.submit "Add to My Places", class: "b-black" %>
          <% end %>
       </div>
    </div>
  </div>  
