                <% if current_user.place_following.blank? %>
                <p class="center">Add Local Places to Your Dashboard</p>
                <br/>
                  <span><%= image_tag "imgs/interests/cookingb_w.png", size: "50" %>
                  <%= image_tag "imgs/interests/homebirthb_w.png", size: "50" %></span>
                <% else %>
                  <% current_user.place_following.each do |place| %>
                    <%= render :partial => 'places/followed_places', :locals => { :place => place} %>
                    <%= render :partial => 'js/followed_places.js.erb', :locals => { :place => place } %>
                  <% end %>
                  <div id= "see-all" data-no-turbolink>
                    <%= link_to "See All My Places", place_following_user_path(@user) %>
                  </div>
                <% end %>			