<%= render 'layouts/menu_and_tabs' %>
				<div class="eight columns">
					<div class="flexslider work-slider">
						<ul class="slides">
							<li>
								<%= image_tag "imgs/slider/momsatpark.png" %>
							</li>
							<li>
								<%= image_tag "imgs/slider/slidergraphic.jpg" %>
							</li>
						</ul>
					</div>
				</div> 	
		</div>

		<div class="container">
			<div class="sixteen columns">
				<hr class="line slogan" />
			</div>
		</div>
		
		<div id="page-content" class="full-width container projects">
			<div id="back_button" data-no-turbolink >
				<ul>
				  <li><%= link_to "Go Back To See All Items", root_path, id: "back_button" %></li>
			    </ul>
			</div>
			<div class="container">
				<div class="sixteen columns">
					<h4> Places around <%= @user.city %></h4>
				<div class="container">
					<div id="portfolio-wrapper">
  					<% @places.each do |place| %>
						<%= render :partial => 'places/place', :locals => { :place => place } %>
						<%= render :partial => 'js/places.js.erb', :locals => { :place => place } %>
					<% end %>
					<% @other_places.each do |place| %>
						<%= render :partial => 'places/other_place', :locals => { :place => place } %>
						<%= render :partial => 'js/other_places.js.erb', :locals => { :place => place } %>
					<% end %>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
		</div>
	</footer>
<%= debug(params) if Rails.env.development? %>
</div>