<% title "Family Groups - Places" %>
<% description "Find family-friendly places like museums, parks and shows on FamilyGroups.org. Connect to other parents and make new friends." %>
<%= render 'layouts/menu_and_tabs' %>

		<div class="container">
			<div class="sixteen columns">
				<hr class="line slogan" />
			</div>
		</div>

		<% if @user.subscriber.present? %>
		
		<div id="page-content" class="full-width container projects">
			<div id="back_button" data-no-turbolink >
				<ul>
				  <li><%= link_to "Go Back To See All Items", root_path, id: "back_button" %></li>
			    </ul>
			</div>
			<div class="container">
				<div class="sixteen columns">
					<h4> Places around <%= @user.city %></h4>
				<div class="container">
					<div id="portfolio-wrapper">
  					<% @places.each do |place| %>
						<%= render :partial => 'places/place', :locals => { :place => place } %>
						<%= render :partial => 'js/places.js.erb', :locals => { :place => place } %>
					<% end %>
					</div>
				</div>	
			</div>
		</div>
		<% end %>
	</div>
</div>
<%= render 'layouts/footer' %>