<footer>
		<div class="container">
			<div class="eight columns">
				<div class="company">
					<p>About Us<br/> 
					Family Groups was founded to help connect parents to other parents in their communities. Families have lived in close, tight-knit, groups since the start of history, and we understand modern parents often struggle to raise children in isolation away from extended family and other parents. We hope this service helps our users build "villages" that make raising children a little easier and more fun.</p>
				</div>
			</div>
			<div class="eight columns">
				<h3>Contact information</h3>
				<p>Comments? Ideas? Submissions? <br />
				E-mail: <a href="#">contact@familygroups.org</a>
				Report inappropriate content to <a href="#">contact@familygroups.org</a></p>
			</div>
			<div class="sixteen columns">
				<hr class="line footer" />
			</div>
			<div class="eight columns">
				<div class="copyright">
					&copy; Copyright 2013
					<%= link_to "FamilyGroups.org", root_url %>
					All Rights Reserved.
				</div>
			</div>
			<div class="eight columns">
				<div class="social">
					<a href="#">
						<%= image_tag "social/dribbble.png" %>
					</a>
					<a href="#">
						<%= image_tag "social/twitter.png" %>
					</a>
					<a href="#">
						<%= image_tag "social/vimeo.png" %>
					</a>
					<a href="#">
						<%= image_tag "social/facebook.png" %>
					</a>
					<a href="#">
						<%= image_tag "social/youtube.png" %>
					</a>
					<a href="#">
						<%= image_tag "social/digg.png" %>
					</a>
				</div>
			</div>