<div class="two-thirds column">
				<nav id="menu" class="navigation">
					<ul id="nav" class="clearfix">
						<li data-no-turbolink><%= link_to root_url do %>Home
							<span>Dashboard<% end %></span></li>
						<li><%= link_to edit_user_path(@user), id: 'edit_user' do %>Settings
							<span><%= @user.name %>'s Profile<% end %></span></li>
						<li><a class="inbox">Mailbox<span><strong><%= @user.new_messages %></strong> new messages</span></a></li>
						<li><%= link_to "Sign Out", signout_path, method: "delete" %>
						</li>
					</ul>
				</nav>
			</div>
			<div class="sixteen columns">
				<hr class="line" />
			</div>
		</div>
	</header>

	<div class="container main">
					<div class="eight columns">
					<h3 class="shortcodes">Check out your community and meet fellow parents.</h3>
					<ul class="tabs-nav">
						<li><a href="#tab1">My Activities</a></li>
						<li><a href="#tab2">My Groups</a></li>
						<li><a href="#tab3">My Interests</a></li>
						<li><a href="#tab4">My Places</a></li>
					</ul>
					<div class="tabs-container">
							<div id="tab1" class="tab-content">
								<%= render 'activities/tab1' %> 
							</div>
							<div id="tab2" class="tab-content">
								<%= render 'groups/tab2' %>
							</div>
							<div id="tab3" class="tab-content">
								<%= render 'interests/tab3' %>
							</div>
							<div id="tab4" class="tab-content">
								<%= render 'places/tab4' %>
							</div>
						</div>
				</div>
				<%= render partial: 'js/settings.js.erb' %>
				<%= render partial: 'js/mailbox.js.erb' %>