<div class="two-thirds column">
				<nav id="menu" class="navigation">
					<ul id="nav" class="clearfix">
						<li><a href="index.html">Home<span>Dashboard</span></a>
							<ul>
								<li><a href="index02.html">Index 02</a></li>
								<li><a href="index03.html">Index 03</a></li>
								<li><a href="index04.html">Index 04</a></li>
								<li><a href="faq.html">F.A.Q.</a></li>
								<li><a href="team.html">Our Team</a></li>
								<li><a href="services.html">Services</a></li>
								<li><a href="prices.html">Prices</a></li>
								<li><a href="sidebar-left.html">Sidebar Left</a></li>
								<li><a href="sidebar-right.html">Sidebar Right</a></li>
								<li><a href="#">And This</a>
									<ul>
										<li><a href="#">Goes Down</a></li>
										<li><a href="#">A Really</a></li>
										<li><a href="#">Really Long</a></li>
										<li><a href="#">Way!</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="shortcodes.html">Settings<span>Edit Profile</span></a></li>
						<li><a class="inbox">Inbox</a></li>
						<li><%= link_to "Sign Out", signout_path, method: "delete" %>
						</li>
					</ul>
				</nav>
			</div>
			<div class="sixteen columns">
				<hr class="line" />
			</div>
		</div>
	</header>

	<div class="container main">
					<div class="eight columns">
					<h3 class="shortcodes">Check out your community and meet fellow parents.</h3>
					<ul class="tabs-nav">
						<li><a href="#tab1">My Activities</a></li>
						<li><a href="#tab2">My Groups</a></li>
						<li><a href="#tab3">My Interests</a></li>
						<li><a href="#tab4">My Places</a></li>
					</ul>
					<div class="tabs-container">
							<div id="tab1" class="tab-content">
								<%= render 'activities/tab1' %> 
							</div>
							<div id="tab2" class="tab-content">
								<%= render 'groups/tab2' %>
							</div>
							<div id="tab3" class="tab-content">
								<%= render 'interests/tab3' %>
							</div>
							<div id="tab4" class="tab-content">
								<%= render 'places/tab4' %>
							</div>
						</div>
				</div> 
				<%= render 'js/mailbox.js.erb' %>