		<div class="four columns">
			<h3 class="matched_user">Today's Matched Parent</h3>
			<%= image_tag "avatars/brunette1.png", class: "matched_user_image" %>
				<p class ="match"><%= @matched_user.name %> <%= @matched_user.profile_stats %> in <%= @matched_user.city %>. <%= @matched_user.kid_stats %> <%= @matched_user.parent_interests %> <%= @matched_user.parent_activities %><br/>
				<strong><center><%= link_to "See full profile here.", avatar_user_path(@matched_user) %></center></strong></p>
			<br/>
			<p><%= link_to "See more parent profiles nearby", avatar_user_path(@user), id: 'create_avatar', class: 'other_parents' %></p>
		</div>
		<div class ="four columns">
    		<%= form_for(@user) do |f| %>
                <%= f.text_area :desc, value: "*Ask a question to #{@matched_user.name} or simply introduce yourself!*

Hi! It seems like we have some common interests. How are you handling being a parent in #{@matched_user.city}?" , class: "send_message"  %>
            <%= f.submit "Send Message", class: "b-matched_user" %>
      <% end %>
		</div>
	</div> 	
</div>
</div>