		<div class="four columns">
			<h3 class="matched_user">Today's Matched Parent</h3>
			<p><%= image_tag "/assets/rotate/#{random_image}", size: "40", class: "matched_user_image" %>
				<%= @matched_user.name %> <%= @matched_user.profile_stats %> in <%= @matched_user.city %>. She loves <%= @matched_user.other_interests %>. <%= link_to "See full profile here.", avatar_user_path(@matched_user) %></p>
			<br/>
			<p><%= link_to "SEE OTHER PARENTS NEARBY", avatar_user_path(@user), id: 'create_avatar', class: 'other_parents' %></p>
		</div>
		<div class ="four columns">
    		<%= form_for(@user) do |f| %>
                <%= f.text_area :desc, value: "*Ask a question to #{@matched_user.name} or simply introduce yourself!*

Hi! It seems like we have some common interests. How are you handling being a parent in #{@matched_user.city}?" , class: "send_message"  %>
            <%= f.submit "Send Message", class: "b-matched_user" %>
      <% end %>
		</div>
	</div> 	
</div>
</div>