<% if @matched_user.present? %>		
		<div class="four columns">
			<h3 class="matched_user">Today's Matched Parent</h3>
			<%= image_tag @matched_user.image_path, class: "matched_user_image" %>
				<p class ="match"><%= @matched_user.name %> <%= @matched_user.profile_stats %> in <%= @matched_user.city %>. <%= @matched_user.kid_stats %> <%= @matched_user.parent_interests %> <%= @matched_user.parent_activities %><br/>
				<p><strong><center><%= link_to "See full profile", user_path(@matched_user), id: 'create_user' %></strong></center></p>
			<br/>
			<% if @user.premium? %>
			<p><%= link_to "See more parent profiles nearby", matches_user_path(@user), id: 'user_matches' %></p>
			<% else %>
			<br/>
			<p class="adjusted" data-no-turbolink><%= link_to "See more parent profiles nearby", new_subscription_path %></p> 
			<% end %>

		</div>
		<div id="message_area">
		  <div class ="four columns">
			<%= form_for :message, :url => {:controller => "sent", :action => "create"}, remote: true do |f| %>
    		<%= f.hidden_field("to][", :value => @matched_user.id) %>
			<%= f.hidden_field(:subject, :value => "Hi! From a fellow parent in #{@matched_user.city}") %>
  			<%= f.text_area :body, value: "*Ask a question to #{@matched_user.name} or simply introduce yourself!*

Hi! It seems like we have some common interests. How are you handling being a parent in #{@matched_user.city}?" , class: "send_message"  %>
            <%= submit_tag "Send Message", class: "b-matched_user" %>
			<% end %>
		</div>
	   </div>
	 </div> 	
   </div>
<% end %>   
</div>