                  <div class="move_right">
                  <span><%= image_tag "b_w/aquarium.png", size: "50" %>
                  <%= image_tag "b_w/chickens.png", size: "50" %>
              	  <%= image_tag "b_w/fruit_berries.png", size: "50" %>
              	  <%= image_tag "b_w/garden.png", size: "50" %>
              	  <%= image_tag "b_w/kid_goats.png", size: "50" %>
              	  <%= image_tag "b_w/prehistoric.png", size: "50" %>
              	  <%= image_tag "b_w/stadium_seats.png", size: "50" %></span>
              	</div>