<div class="container main">
    <div class="two columns">
        <% if group.photo_url.blank? %>
          <%= image_tag "/assets/rotate/#{random_image}", size: '70x70' %>
        <% else %>
          <%= image_tag group.photo_url, size: '70x70' %>
        <% end %>
        <br/>
      <strong>City:</strong> <%= group.city.unpack("C*").pack("U*") %><br/>
    </div> 
    <div class="six columns">
    <h6><%= group.name.unpack("C*").pack("U*") %></h6><br/>
    <%= group.description.unpack("C*").pack("U*") %>
    <br />
     <h3>
        <%= link_to "Check out the website here", group.link, target: "blank", style: "color:blue" %></h3>
     <h3>If you want to find more places near you that local families like to hang out at, create a profile. It's totally free. 
      <br />
    <h3><%= link_to "Join your community", signup_path, id: 'create_user', class: "b-new", style: "color:white; margin-left:60px" %></h3>
    </div>
  </div>  
